.details { 
	--color: hsl(188 20% 15%);
	--charged: hsl(10 70% 40%);
	--base: hsl(188 15.3% 81.4%);
	--hover: hsl(180, 92%, 40%);
	--circle: hsl(10 70% 40% / 0.7);

	@media (prefers-color-scheme: dark) {
		--color: hsl(188 45.3% 81.4%);
		--charged: hsl(0 67.9% 60.6%);
		--base: hsl(240 100% 40.2%);
		--hover: hsl(180, 92%, 20%);
		--circle: hsl(10 70% 40% / 0.4);
	}
	
	background-color: var(--base);

	h1, .remarks-title {
		padding-top: 0;
		color: var(--charged);
	}

	p, a, li::marker {
		color: var(--color);
		max-width: 45ch;
	}

	.calm-voice {
		text-align: start;
	}

	.remarks .calm-voice {
		max-width: 64ch;
	}

	p + p {
		margin-top: 1em;
	}

	p + a {
		margin-top: 0.5em;
	}

	.circle {
		color: var(--circle);
		fill: var(--circle);
	}

	h1.attention-voice {
		margin-top: 0;
		line-height: 1;

		@media(max-width: 650px) {
			padding-bottom: 0;
			text-align: start;
		}
	}

	a, h2 {
		@media(max-width: 650px) {
			text-align: start;
		}
	}

	.description {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width: 650px) {
			justify-content: flex-start;
		}
	}

	.attention-voice, .description a, .calm-voice {
		@media (min-width: 650px) {
			text-align: start;
			margin-left: 0;
		}
	}

	.navigation a:hover, .logo:hover {
		background-color: transparent;
	}

	.not-found {
		margin: 0 auto;
	}

	.description .attention-voice {
		margin-bottom: 0.25em;

		@media (max-width: 650px) {
			margin-top: 0.25em;
		}
	}

	.details-image {
		max-width: 450px;
	}

	container {
		display: flex;
		justify-content: center;
	}

	.image-description {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 5em;

		@media (min-width: 650px) {
			flex-direction: row;
			justify-content: center;
			gap: 2em;
			margin-top: 14em;
		}
	}

	.container-details {
	   display: flex;
	   flex-direction: column;
	   align-items: flex-start;
	}

	.remarks-img {
		display: flex;
		flex-wrap: wrap;
		gap: 3em;

		margin: 2em 0;
		max-width: 800px;
	}

	.remarks {
		margin-top: 3em;

		@media(min-width: 650px) {
			display: flex;
			flex-direction: row-reverse;
			gap: 1em;
		}
	}

	.remarks-title {
		margin: 0;
		margin-bottom: 0.25em;

		@media(min-width: 650px) {
			writing-mode: vertical-rl;
			margin: 0;
		}
	}

	container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media(min-width: 650px) {
			align-items: center;
		}
	}

	.underline {
		display: inline-block;
		margin-top: 1em;
		line-height: 1.1;
	}

	.underline::after {
		background: var(--color);
	}

	::selection {
		background-color: var(--color);
		color: var(--base);
	}
}


	