.journal {

	--color: hsl(296 70.7% 30.8%);
	/*--base: hsl(7 75.8% 93.5%);*/
	--base: oklch(96.7% 0.003 264.542);
	--hover: hsl(302 58.9% 80.7%);
	--circle: hsl(296 70.7% 30.8% / 0.4);

	@media (prefers-color-scheme: dark) {

		--color: hsl(7 75.8% 93.5%);
		--base: hsl(296 70.7% 30.8%);
		--hover: hsl(302 58.9% 64.7%);
		--circle: hsl(7 75.8% 93.5% / 0.4);
	}

	background-color: var(--base);

	h1, h2, p, a, li, li::marker {
		color: var(--color);
		fill: var(--color);
	}

	.circle {
		color: var(--circle);
		fill: var(--circle);
	}

	.careful-voice {
		padding: 0;
	}

	ul {
		display: flex;
		flex-direction: column;
		margin-bottom: 2em;
	}

	.links {
		display: block;
		margin-top: 1em;
	}

	li {
		list-style-type: none;
	}

	.navigation a:hover, .logo:hover {
		background-color: transparent;
	}
}	

