.projects {

  --color: hsl(230 59.8% 40%);
  --link: hsl(240 3.3% 30%);
  --list: hsl(210 12.6% 50.2%);
  --base: hsl(48 0% 93.7%);
  --hover: hsl(225 46.1% 72%);
  --circle: hsl(230 59.8% 40% / 0.4);

  @media (prefers-color-scheme: dark) {
    --color: hsl(240 61.3% 93.9%);
    --link: hsl(240 61.3% 93.9%);
    --list: hsl(332 82.4% 55.9%);
    --base: hsl(230 59.8% 40%);
    --hover: hsl(225 46.1% 32.7%);
    --circle: hsl(240 61.3% 93.9% / 0.4);
  }

	background-color: var(--base);

	h1.attention-voice {
		color: var(--color);
	}

	p, a, h2, li::marker, .circle {
		color: var(--color);
		fill: var(--color);
	}

	.circle {
		color: var(--circle);
		fill: var(--circle);
	}

	li {
		display: block;
		list-style-type: none;
		line-height: 1;
	}

	ul {
		margin-top: 3em;
	}

	project-card {
		display: block;
		max-width: 500px;
	}

	ul li:nth-child(6) img {
	    object-fit: contain;
	}

	h2 {
		margin-top: 0.5em;
	}

	picture + .subtle-voice {
		margin-top: 0.5em;
	}

	.subtle-voice {
		margin: 0;
	}

	.navigation a:hover, .logo:hover {
		background-color: transparent;
	}
}

