.resume {

	--base: hsl(48 0% 93.7%);

	@media (prefers-color-scheme: dark) {
	   --base: hsl(230 59.8% 40%);
	}

	background-color: var(--base);

	picture {
		display: block;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	.resume-view {
		margin-top: 8em;
	}

	h1, h2, h3, h4, p, ul, li {
		text-align: start;
	}

	.attention-voice {
		font-size: 2rem;
		margin: 1em 0 0.3em 0;
		padding: 0;

		@media (min-width: 570px) {
			margin: 0 0 0.3em 0;
		}
	}

	.resume-heading {
		margin:1.5em 0 0.5em 0;
	}

	li, p {
		max-width: 40ch;
	}

	li + li {
		margin-top: 0.5em;
	}

	div + div {
		margin-top: 0.5em;
	}

	ul {
	   display: block;
	   width: 100%;
	   list-style-position: outside;
	   margin-left: 0;
	   margin-right: 0;
	   padding-left: 0.9em;
	}

	.calm-voice {
		margin: 0;
	}

	.education + .education {
		margin-top: 0.5em;
	}

	.resume-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width: 570px) {
			display: grid;
			grid-template-columns: 0.25fr auto;
			justify-content: center;
			gap: 6em;
		}
	}

	.profile {
		width: 200px;
	}

	.contact img, .contact picture {
		width: 20px;
		flex-shrink: 0;
	}

	aside {
		display: block;
		/*background-color: hsl(189 69.7% 70.1%);*/

		@media (min-width: 570px) {
			height: 100vh;
		}
	}

	.contact {
		display: flex;
		align-items: center;
		gap: 1em;
	}
}