@import 'meyer-reset.css';

body {
	box-sizing: border-box;
	padding: 0 2em;
	overflow-x: hidden;

	text-align: center;

	@media(max-width: 385px) {
		padding: 0 1em;
	}
	
	@media (min-width: 700px) {
		margin: 0 auto;
	}
}

main {
	position: relative;
}

.page-wrapper {
  position: relative;
  min-height: 100vh;
}

a {
	text-decoration: underline;
	font-family: 'Mulish', sans-serif;
	font-size: 20px;
}

nav a {
	margin-right: 10px;

}

nav a:last-child {
	margin-right: 0;
}

nav a:nth-of-type(3) {
	@media(max-width: 385px) {
		margin-right: 0;
	}
}

li {
	list-style: disc;
	line-height: 1.4;
	text-wrap: pretty;
}

.column {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.loud-voice, .attention-voice, .careful-voice, .subtle-voice {
	font-family: 'Catamaran', serif;
}

.loud-voice {
	font-size: 6rem;
	font-weight: 700;
}

.attention-voice {
	font-size: 3rem;
	font-weight: 600;
}

.careful-voice {
	font-size: 1.5rem;
	font-weight: 550;
}

.subtle-voice {
	font-size: 1.3rem;
	max-width: 60ch;
}

.calm-voice {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	max-width: 60ch;
	margin: 0 auto;
}

h1.attention-voice {
	margin: 2em 0 0.8em 0;
}

h1 {
	padding-top: 1em;
}

li {
	font-family: 'Merriweather Sans', sans-serif;
}

picture {
	display: block;
	aspect-ratio: 1 / 1;
 	overflow: hidden;
 	max-width: 300px;
}

img {
	display: block;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, 300px));
	justify-content: center;

	row-gap: 1.5em;
	column-gap: 3em;
	padding: 0;

	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	padding-bottom: 0;
	margin-top: 2em;
}

header a:hover {
	background-color: transparent;
}

.circle {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(50%, 70%);
	z-index: -1;
}

#move{
    background: linear-gradient(
        to right,
        #ff8e8e,
        #ff006a
    ) ;
    height: 30px;
    aspect-ratio: 1;
    left: 100%;
    top: 50%;
    transform: translate(-200%, -100%);
    position: fixed;
    border-radius: 50%;
}