
.loud-voice	{
	font-family: 'Montserrat', sans-serif;
	font-size: clamp(36px, 5vw, 60px);
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700;
	}
}

.intro-voice	{
	font-family: 'Montserrat', sans-serif;
	font-size: clamp(36px, 5vw, 48px);
	font-weight: 700;
	line-height: 1.1;
}

.attention-voice	{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 600;
}

article-card .attention-voice {
	font-size: 22px;
}

.subtle-voice {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.something-for-site-map-headings {
	/* */
}

.calm-voice, a {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.4;
	max-width: 55ch;
}

.miniscule-voice {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
}
.logo-company h3 {
	font-size: 1.6rem;
	font-weight: 530;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now $todo */

p + p, h1 + p, h3 + p, h3 + a, p + a {
	margin-top: 1.3em;
}

h2 + p, h3 + a {
	margin-top: 1em;
}

svg {
	margin-bottom: 1em;
}

.get-involved {
	text-shadow: 0.8px 0.8px 0.8px black;
}

.get-involved a {
	box-shadow: 0.8px 0.8px 0.8px black;
}

.get-involved span {
	text-shadow: 0.6px 0.6px 0.6px black;
}

.get-involved .calm-voice, .welcome .calm-voice {
	max-width: 40ch;
}