faq-2 {
	display: block;
	padding: 4em 0;
}

summary {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1em;
	list-style: none; 
	cursor: pointer;
	font-weight: 600;
}

faq-2 inner-column {
	display: flex;
	flex-direction: column;
	gap: 0;

	@media(min-width: 650px) {
		align-items: center;
		text-align: center;
	}
}

.faq {
	@media(min-width: 650px) {
		width: 60%;
		margin: 0 auto;
	}
}

faq-2 svg {
	stroke: var(--button-1);
	width: 20px;
}

faq-2 .chevron {
	transition: transform 0.3s ease;
}

details[open] .chevron {
  transform: rotate(-90deg);
}

details {
	padding: 1em 0;
	border-bottom: 0.5px solid black;
}

faq-2 h3 + p {
	margin-bottom: 4em;
}

details .calm-voice {
	@media(min-width: 650px) {
		text-align: start;
	}
}

faq-2 .careful-voice {
	max-width: 40ch;
}

faq-2 details .calm-voice {
	margin-top: 0.5em;
}