faq-3 {
	display: block;
	padding: 4em 0;
}

summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none; 
	cursor: pointer;
	font-weight: 600;
}

faq-3 inner-column {
	display: flex;
	flex-direction: column;
	gap: 0;

	@media(min-width: 650px) {
		flex-direction: row;
		align-items: center;
		gap: 3em;
	}
}

faq-3 svg {
	stroke: black;
}

faq-3 .chevron {
	transition: transform 0.3s ease, opacity 0.3s ease;
}

details[open] .chevron {
  transform: rotate(-90deg);
}

details {
	padding: 1em 0;
	border-bottom: 0.5px solid black;
}

faq-3 h3 + p {
	margin-bottom: 4em;

	@media(min-width: 650px) {
		margin-bottom: 0;
	}
}

details .calm-voice {
	@media(min-width: 650px) {
		text-align: start;
	}
}

faq-3 .careful-voice {
	max-width: 40ch;
}

faq-3 details .calm-voice {
	margin-top: 0.5em;
}