hero-3 {
	display: block;
	background-color: var(--background-2);
	color: var(--white);
	padding: 8em 0;
	text-align: center;
}

hero-3 .container-3 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5em;
}

hero-3 .calm-voice {
	margin: 1em auto 0 auto;
}

hero-3 .input-container {
  position: relative;
}

hero-3 .input-container svg {
  position: absolute;
  left: 10px;
  top: 75%;
  transform: translateY(-50%);
  pointer-events: none;
}

hero-3 input {
	padding: 0.9em 6em 0.9em 2.8em;
	background-color: var(--button-1);
	border-radius: 5px;
	border: none;
}

hero-3 button {
	padding: 0.9em 7.9em 0.9em 7.9em;
	border-radius: 5px;
	border: none;
	color: var(--background-2);
	background-color: var(--white);

	@media(min-width: 351px) {
		padding: 0.9em 1em 0.9em 1em;
	}
}

hero-3 input {
	margin-top: 3em;
}

hero-3 button {
	@media(min-width: 351px) {
		margin-top: 3em;
	}
}

hero-3 input::placeholder {
	color: #E0E0E0;
}