product-feature-3 {
	display: block;
	padding: 4em 0;
}

product-feature-3 inner-column {
	@media(min-width: 700px) {
		display: flex;
		flex-direction: column;
		gap: 0;
		align-items: center;
		text-align: center;
	}
}

product-feature-3 svg {
	stroke: var(--button-1);
	width: 30px;
}

product-feature-3 h3 + p {
	margin-bottom: 3em;
}

product-feature-3 .visual {
	display: flex;       
   align-items: center;    
   justify-content: center;
	height: 3em;
	width: 3em;
	border-radius: 50%;
	background-color: var(--background);
}

product {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 1em;
	text-align: center;
}

product-feature-3 product .calm-voice {
	max-width: 30ch;
}

product-feature-3 product span {
	margin-bottom: 0.7em;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 1em;

	@media(min-width: 500px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;
	}

	@media(min-width: 800px) {
		grid-template-columns: repeat(3, minmax(200px, 300px));
	}
}