product-feature-1 {
	display: block;
	padding: 4em 0;
}

product-feature-1 .enumeration {
	display: inline-block;
	height: 2.5em;
	width: 2.5em;
	line-height: 2.5em;
	border-radius: 50%;
	background-color: var(--background);
	color: var(--button-1);
	text-align: center;
}

product-feature-1 .careful-voice {
	max-width: 20ch;
}

product-feature-1 img {
	max-width: 350px;
}

product-feature-1 .container:nth-of-type(1) {
	margin-bottom: 3em;
}

product-feature-1 inner-column {
	@media(min-width: 900px) {
		display: flex;
		justify-content: center;
		gap: 2em;
	}
}

product-feature-1 .container-2-product {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	@media(min-width: 900px) {
		display: flex;
		flex-direction: row;
		gap: 1em;
	}
}

product-feature-1 .container-2 {
	display: flex;
	flex-direction: column;
	gap: 2em;
}
