.testimonial-1 {
  display: block;
  padding: 4em 0;

  @media (min-width: 550px) {
    text-align: center;
  }
}

.testimonial-1 inner-column {
  display: flex;
  flex-direction: column;
  gap: 0;

  @media (min-width: 550px) {
    align-items: center;
  }
}

.testimonial-1 svg {
  fill: var(--button-1);
  margin-bottom: 1em;
}

.testimonial-1 h3 + p {
  margin-bottom: 4em;
}

.testimonial-1 p + svg {
  margin-top: 1em;
}

.testimonial-1 h5 {
  margin-bottom: 3em;
}

.testimonial-1 .circle {
  margin-bottom: 0;
}

.testimonial-1 .container-testimonial {
  @media (min-width: 550px) {
    display: flex;
    gap: 3em;
  }
}

.testimonial-1 .testimonial {
  max-width: 30ch;
}

.testimonial-2 {
  display: block;
  padding: 4em 0;
}

.testimonial-2 inner-column {
  @media(min-width: 700px) {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    text-align: center;
  }
}

.testimonial-2 h3 + p {
  margin-bottom: 3em;
}

.testimonial-2 .careful-voice-thin {
  margin-bottom: 1em;
}

.testimonial-2 .user {
  text-align: start;

  @media(min-width: 700px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
}

.testimonial-2 .user-info .calm-voice {
  margin-top: 0.3em;
}

.testimonial-3 {
  display: block;
  padding: 4em 0;
}

.testimonial-3 img {
  max-width: 500px;
}

.testimonial-3 inner-column {
  @media(min-width: 750px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.testimonial-3 testimonial {
  @media(min-width: 750px) {
    display: flex;
    gap: 2em;
    align-items: center;
    text-align: start;
  }
}

.testimonial-3 .user-info {
  @media(min-width: 750px) {
    display: flex;
    gap: 0.5em;
  }
}

.testimonial-3 .user-info .calm-voice {
  line-height: 1.7;

  @media(min-width: 750px) {
    margin-top: 0;
  }
}

.testimonial-3 h3 + p {
  margin-bottom: 3em;
}

.testimonial-3 .lesser-voice {
  margin-bottom: 1em;
}

.testimonial-3 picture {
  margin-bottom: 1em;
}
