video-3 {
	display: block;
	padding: 4em 0;

	@media(min-width: 600px) {
		text-align: center;
	}
}

video-3 inner-column {
	@media(min-width: 600px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0;
	}
}

video-3 svg {
	stroke: var(--button-1);
	width: 20px;
}

video-3 .container-video {
	display: flex;
	flex-direction: column;
	gap: 1em;

	@media(min-width: 600px) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5em;
	}
}

video-3 .container-video .calm-voice {
	max-width: 33ch;
}

video-3 p + h3 {
	margin-top: 0.5em;
	margin-bottom: 2em;
}

video-3 h4 {
	margin-bottom: 1em;
}

video-3 .video-link {
	display: flex;
	align-items: center;
	margin-top: 3em;
	gap: 0.5em;
	color: var(--button-1);
}