@import '../css/meyer-reset.css';
@import '../css/setup.css';

/*MODULES*/
.inner-column {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 80px 30px 50px 0;
	width: 90%;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: 1200px) {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 70%;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.container {
	@media (min-width: 600px) {
		display: flex;
		gap: 40px;
	}
}

/*STRUCTURE*/
body {
	height: 100vh;
}

.mini-voice {
	padding: 0 0 50px 0;
}

.contact {
	margin-bottom: 30px;

	@media (min-width: 600px) {
		flex-grow: 2;
		margin-bottom: 0;
	}
}

.legal {
	@media (min-width: 600px) {
		flex-grow: 1.5;
	}
}

button {
	width: 100%;
	text-align: start;
	padding: 5px 0px 5px 15px;

	@media (min-width: 800px) {
		width: 350px;
	}

	@media (min-width: 1200px) {
		width: 70%;
	}
}

.container {
	@media (min-width: 800px) {
		width: 70%;
	}

	@media (min-width: 1200px) {
		flex-grow: 1;
	}
}

.button {
	@media (min-width: 1200px) {
		flex-grow: 1;
	}
}

.footer {
	@media (min-width: 1200px) {
		width: 70%;
	}
}

/*TYPOGRAPHY*/
.calm-voice {
	font-family: serif;
	font-size: 1rem;
	line-height: 1.6;
}

.mini-voice {
	font-size: 0.7rem;
	font-weight: 200;
}

a {
	line-height: 1.5;
	font-weight: 600;

	@media (min-width: 1200px) {
		line-height: 1.8;
	}
}

button {
	font-size: 1.2rem;
	font-weight: 600;
}

/*STYLE*/
a:hover {
	color: gray;
}

button {
	background-color: ;
	color: ;
	border: 4px solid black;
	border-radius: 20px;
}