@import '../css/meyer-reset.css';
@import '../css/setup.css';

/*MODULES*/
.inner-column {
	@media (min-width: 700px) {
		display: grid;
		gap: 20px;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	@media (min-width: 900px) {
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

/*STRUCTURE*/
.inner-column {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.info {
	margin-bottom: 20px;
	@media (min-width: 900px) {
		margin: 40px 0;
	}
}

h2, p, a {
	padding: 0 30px;
}

h2 {
	padding-top: 40px;
}

p {
	padding-top: 20px;
}

a {
	padding: 25px 30px;
}

.info:first-child {
	margin-top: 40px;
	@media (min-width: 700px) {
		margin-top: 40px;
	}
}

.info:last-child {
	margin-bottom: 40px;
}

.info:nth-of-type(2) {
	@media (min-width: 700px) {
		margin-top: 40px;
	}
}

.info:nth-of-type(3) {
	@media (min-width: 700px) {
		margin-bottom: 40px;
	}
}

/*TYPOGRAPHY*/
.attention-voice {
	font-family: sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
}

.calm-voice {
	font-family: serif;
	font-size: 1rem;
	line-height: 1.5;
}

/*STYLE*/
.info {
	border: 2px solid lightgray;
	border-radius: 10px;
	box-shadow: 2px 2px 2px lightgray;
}

img {
	border-radius: 10px 10px 0 0;
}