@import 'meyer-reset.css';
@import 'setup.css';
@import 'template-css/header-1.css';
@import 'template-css/hero-1.css';
@import 'template-css/video-section-1.css';
@import 'template-css/product-features-1.css';
@import 'template-css/testimonial-1.css';
@import 'template-css/call-to-action-1.css';
@import 'template-css/faq-1.css';
@import 'template-css/footer-1.css';
@import 'template-css/header-2.css';
@import 'template-css/hero-2.css';
@import 'template-css/video-section-2.css';
@import 'template-css/product-features-2.css';
@import 'template-css/testimonial-2.css';
@import 'template-css/call-to-action-2.css';
@import 'template-css/faq-2.css';
@import 'template-css/footer-2.css';
@import 'template-css/header-3.css';
@import 'template-css/hero-3.css';
@import 'template-css/video-section-3.css';
@import 'template-css/product-features-3.css';
@import 'template-css/testimonial-3.css';
@import 'template-css/faq-3.css';
@import 'template-css/video-section.css';
@import 'template-css/call-to-action-3.css';
@import 'template-css/call-to-action.css';
@import 'template-css/faq.css';
@import 'template-css/header.css';
@import 'template-css/hero.css';
@import 'template-css/product-features.css';
@import 'template-css/testimonial.css';
@import 'template-css/video-spotlight.css';
@import 'template-css/footer.css';

html {
	--button-1: hsl(var(--hue1), 71%, 40%);
	--background: hsl(var(--hue1), 67%, 96%);
	--background-2: hsl(var(--hue1), 80%, 56%);
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 13%);
	--border-thin: 1px;
	--border-thick: 5px;
	--border-extra-thin: 0.5px;
	--border-super-extra-thin: 0.1px;
	--border-circle: 50%;
	--radius: 0px;
	--hue1: 225;
	--hue2: 0;
}

body {
	position: relative;
}

inner-column {
	display: block;
	max-width: 1400px;
	margin: 0 auto;
	padding: 1em 0.5em;
}

.loud-voice {
	font-size: clamp(2rem, 5vw, 3rem);
	font-weight: 600;
	font-family: 'Inter', sans-serif;
	line-height: 1.15;
	text-wrap: pretty;
}

.attention-voice {
	font-size: clamp(1.8rem, 5vw, 2.5rem);
	font-weight: 550;
	font-family: 'Inter', sans-serif;
	line-height: 1.15;
	text-wrap: pretty;
}

.careful-voice {
	font-size: clamp(1.5rem, 5vw, 2.2rem);
	font-weight: 550;
	font-family: 'Inter', sans-serif;
	line-height: 1.15;
	text-wrap: pretty;
}

.careful-voice-thin {
	font-size: 2.2rem;
	font-weight: 350;
	font-family: 'Inter', sans-serif;
	line-height: 1.15;
	max-width: 30ch;
	text-wrap: pretty;
}

.lesser-voice {
	font-size: 1.5rem;
	font-weight: 350;
	font-family: 'Inter', sans-serif;
	line-height: 1.15;
	max-width: 25ch;
	text-wrap: pretty;
}

.significant-voice, span {
	font-size: 1.1rem;
	font-weight: 550;
	font-family: 'Inter', sans-serif;
	line-height: 1.25;
	text-wrap: pretty;
}

span {
	display: block;
	line-height: 0;
}

.calm-voice {
	font-size: 1rem;
	font-family: 'Inter', serif;
	font-weight: 400;
	line-height: 1.4;
	color: #616161;
	max-width: 60ch;
	text-wrap: pretty;
}

.miniscule-voice {
	font-size: 0.9rem;
	font-family: 'Inter', serif;
	text-wrap: pretty;
}

a {
	font-family: 'Inter', serif;
	font-weight: 400;
}

h1 + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 1em;
}

h3 + p {
	margin-top: 1em;
}

h4 + p {
	margin-top: 0.5em;
}

p + picture {
	margin-top: 1em;
}

section {
	background-color: #FFCC11;
	color: var(--button-1);
	padding: 0.5em 0;
}

.navigation {
	display: flex;
	flex-direction: column;
	gap: 1em;
	color: #1d3d9e;

	@media(min-width: 350px) {
		flex-direction: row;
		justify-content: center;
	}
}

.test-container {
	display: flex;
	justify-content: center;
	gap: 2em;
	padding: 1em 0;
}

.test {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button, input {
	border-radius: var(--radius);
}

.hidden {
	display: none;
}

.tricks-container {
	display: flex;
	justify-content: center;
	padding: 1em 0;
}

#tricks {
	font-size: 1.5rem;
}

#tricks.active {
  color: var(--background-2);
}

.sticky {
	position: sticky;
	top: 0;
	background-color: var(--white);
	z-index: 2;
}