@import '../css/meyer-reset.css';
@import '../css/setup.css';

/*MODULES*/
.container {
	display: flex;
	justify-content: space-between;
}

.container-2 {
	display: flex;
	gap: 10px;
}

.inner-column {
	display: flex;
	flex-direction: column;
	width: 95%;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	gap:3px;
}

.icons {
	display: flex;
	gap: 25px;
}

.container > div {
	display: flex;
	align-items: center;
}

.search-2 {
	display: flex;
	flex-grow: 1;
	position: relative;
}

.search {
	display: flex;
	position: relative;
	flex-grow: 1;
}

/*STRUCTURE*/
body {
	height: 100vh;
}

.loud-voice {
	padding: 0.2em 0;
}

.attention-voice {
	padding: 1.5em 0 0.5em 0;
}

.subtle-voice {
	padding: 0.7em 0;
}

.calm-voice {
	font-family: serif;
	font-size: 1.3rem;
	line-height: 1.5;
}

img {
	width: 30px;
}

.logo {
	width: 70px;
	padding: 0.5em;
	padding-left: 0;
	margin-left: 0;
}

.hidden {
	display: none;
}

.hidden-2 {
	display: none;
}

.container-2 input {
	flex-grow: 1; 
}

a {
	padding: 0.4em;
}

button img {
	width: 10px;
}

.search button {
	position: absolute;
	right: 10px;
	top: 30%;
}

.search-2 input {
	height: 30px;
}

.search-2 button {
	position: absolute;
	right: 10px;
	top: 30%;
}

.search button {
	display: none;
}

input::placeholder {
	padding-left: 0.5em;
}

/*TYPOGRAPHY*/
.loud-voice {
	font-family: sans-serif;
	font-size: 2.5rem;
	font-weight: 500;
	text-align: center;
}

.attention-voice {
	font-family: sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
}

.subtle-voice {
	font-family: sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
}

.calm-voice {
	font-family: serif;
	font-size: 1.3rem;
	line-height: 1.5;
}


/*STYLE*/
.subtle-voice {
	color: #ab9479;
}

input {
	border-radius: 15px;
	border: 2px solid black;
}

a:hover {
	background-color: lightgray;
}

a {
	border-radius: 7px;
}

.search button {
	background-color: white;
	border: 0;
}

.search-2 button {
	background-color: white;
	border: 0;
}

@media (min-width: 900px) {
	/*MODULES*/
	.icons div {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	/*STRUCTURE*/
	.hidden-2 {
		display: flex;
	}
}

@media (min-width: 1100px) {
	/*MODULES*/
	.links {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.container-2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.container > div {
		display: flex;
		gap: 30px;
		align-items: center;
	}

	.e-shop div {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	/*STRUCTURE*/
	.hidden {
		display: flex;
	}

	.hidden-3 {
		display: none
	}

	.hidden {
		display: flex;
		gap: 8px;
	}

	.container input {
		flex-grow: 1;
		height: 30px;
	}

	.container > div:first-child {
		flex-grow: 1;
	}

	.container {
		gap: 40px;
	}

	.search button {
		display: flex;
	}

	.search-2 button {
		position: absolute;
		right: 10px;
		top: 30%;
		background-color: white;
		border: 0;
		display: none;
	}

	.e-shop a {
		padding-left: 0;
	}
}