@import 'meyer-reset.css';
@import 'setup.css';

body {
	--passionate: red;
	--space: 1.5;
	--color: black;
	--bakground-color: white;
}

partials {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

inner-column {
	display: flex; 
   flex-direction: column;
	max-width: 1400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.loud-voice {
	font-family: sans-serif;
	font-size: 3rem;
	font-weight: 700;
}

.attention-voice {
	font-family: sans-serif;
	font-size: 2rem;
	font-weight: 600;
}

.subtle-voice {
 font-family: sans-serif;
 font-size: 1.5 rem;
 font-weight: 500;
}

.calm-voice {
 font-family: serif;
 font-size: 1rem;
}

.miniscule-voice {
	font-family: sans-serif;
	font-size: 0.7rem;
}

.mini-voice {
	font-family: sans-serif;
	font-size: 0.6rem;
	font-weight: 200;
}


/*FIRST MODULE*/


/*MODULES*/

split-hero {
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;

	inner-column {
		gap: 20px;
	}
	
	.info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		padding: 1em;

		p {
			margin-top: 1em;

			@media (min-width: 640px) {
				max-width: 30ch;
				margin-left: auto;
				margin-right: auto;
			}
		}

		a {
			display: inline-block;
			margin-top: 1em;
			padding: 0.5em;
		}
	}

	@media (min-width: 640px) {
		.half {
			display: flex;
			flex-direction: row;
			align-items: stretch;
			height: 300px;
			
			
			picture, .info {
				width: 50%;
			}
			&:nth-of-type(even) {
				flex-direction: row-reverse;
			}

			picture {
				object-fit: cover;
			}

			picture img {
             display: block;
             width: 100%;   
             height: 100%;  
             object-fit: cover;
         }
		}
	}
}

/*STYLE*/

split-hero {
	a {
		border: 2px solid black;
		border-radius: 20px;
	}

	.one .info {
		background-color: lightgreen;
	}

	.two .info {
		background-color: green;
	}

	.two h2, .two p, .two a {
		color: white;
	}

	.two a {
		border: 2px solid white;
	}
}



/*SECOND MODULE*/


/*MODULES*/
info-cards {
	display: block;

	inner-column {
		@media (min-width: 700px) {
			display: grid;
			gap: 20px;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
		}

		@media (min-width: 1200px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}

/*STRUCTURE*/
info-cards {
	width: 80%;
	margin-left: auto;
	margin-right: auto;

	.info {
		margin-bottom: 20px;

		@media (min-width: 1200px) {
			min-width: 250px;
		}
	}

	h2, p, a {
		padding: 0 30px;
	}

	h2 {
		padding-top: 40px;
	}

	p {
		padding-top: 20px;
	}

	a {
		padding: 25px 30px;
	}
}

/*TYPOGRAPHY*/
info-cards {
	.calm-voice {
		line-height: var(--space);
	}
}


/*STYLE*/
info-cards {
	.info {
		border: 2px solid lightgray;
		border-radius: 10px;
		box-shadow: 2px 2px 2px lightgray;
	}

	img {
		border-radius: 10px 10px 0 0;
	}
}




/*THIRD MODULE*/


/*MODULE*/
feature-tiles {
	.info-pic {
		display: flex;
		align-items: center;
		gap: 20px;
		height: 100px;

		inner-column {
			display: flex; 
		   flex-direction: column;
			max-width: 1400px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

/*STRUCTURE*/
feature-tiles {
	display: block;
	position: relative;
	
	padding: 0 20px;

	p {
		padding-bottom: 5px;
	}

	img {
		max-width: 50px;
		border-radius: 15px;
		object-fit: cover;
	}
}

/*TYPOGRAPHY*/
feature-tiles {
	.calm-voice {
		line-height: var(--space);
	}
}

/*STYLE*/
feature-tiles {
	border-radius: 15px;
	background-color: #f4f4f3;

	p {
		color: gray;
	}
}

@media (min-width: 700px) {
	/*STYLE*/
	feature-tiles {
		img {
			border-radius: 50%;
		}
	}
	
}

@media (min-width: 1000px) {

	/*MODULE*/
	feature-tiles {
		display:flex;
		justify-content: space-evenly;
		gap: 20px;
		padding: 30px 20px;

		inner-column {
			flex-direction: row;
			justify-content: space-evenly;
			gap: 20px;
			padding: 30px 20px;
		}
	} 

	/*STRUCTURE*/
	feature-tiles {
		img {
			max-width: 100px;
			border-radius: 15px;
		}
	}
}




/*MODULE 4*/



/*MODULES*/
content-split {

	display: block;
	padding: 20px;

	.regulations {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 200px;
		margin: 30px 0 60px 0;
	}

	.container-2 {
		@media (min-width: 800px) {
			display: flex;
			align-items: flex-start;
		}
	}
}

@media (min-width: 1000px) {
	content-split {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		gap: 30px;

		inner-column {
			flex-direction: row;
			gap: 30px;
		}
	}
}


/*STRUCTURE*/
content-split {

	@media (min-width: 600px) {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	@media (min-width: 1000px) {
		width: 100%;
		max-width: 2400px; 
	}

	.loud-voice {
		padding-top: 30px;

		@media (min-width: 1000px) {
			padding-top: 0;
		}
	}

	.attention-voice {
		padding-top: 30px;
	}

	.calm-voice {
		padding-top: 35px;
	}

	ul {
		padding-top: 20px;
	}

	ul li:before {
		padding-right: 5px;
	}

	li {
		padding: 10px 0;
	}

	p {
		@media (min-width: 600px) {
			max-width: 60ch;
		}

		@media (min-width: 1000px) {
			padding-right: 20px;
			min-width: 30ch;
		}
	}

	.regulations {
		@media (min-width: 600px) {
			height: 300px;
			width: 300px;
		}

		@media (min-width: 800px) {
			flex: 0 0 300px;
		}
	}

	img {
		@media (min-width: 1000px) {
			min-height: 500px;
			object-fit: cover;
		}
	}
}

/*TYPOGRAPHY*/
content-split {
	.calm-voice {
		line-height: 1.8;
	}
}


/*STYLE*/
content-split {
	.attention-voice {
		color: var(--passionate);
	}

	ul {
		list-style: none;
	}

	ul li:before {
		content: '✓';
		color: #ec6031;
	}

	.regulations {
		background-color: lightgray;
	}
}





/*MODULE 5*/



/*MODULES*/
success-stories-list {
	display: block;

	.stories {
		display: flex;
		justify-content: center;
		gap: 15px;
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: 90%;
		margin-right: auto;
		margin-left: auto;

		@media (min-width: 1000px) {
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			gap: 40px;
			width: 80%;
			max-width: 1500px;
		}
	}
}


/*STRUCTURE*/
success-stories-list {
	h2 {
		margin: 70px 0 50px 0;
	}

	p {
		max-width: 50ch;
	}

	.more-stories {
		margin-top: 40px;
		padding-bottom: 50px;
	}

	h2, .more-stories {
		text-align: center;
	}

	img {
		width: 50px;
		object-fit: cover;
	}
}


/*TYPOGRAPHY*/
success-stories-list {
	.calm-voice {
		line-height: var(--space);
	}
}


/*STYLE*/
success-stories-list {
	background: linear-gradient(to bottom, #fefefe, #f3f4f6);
	
	a {
		text-decoration: underline;
	}

	img {
		border-radius: 50%;
	}
}





/*MODULE 6*/


/*MODULES*/
feature-overview {
	padding-bottom: 2em;

	.mega-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;

		@media (min-width: 800px) {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
		}
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}
}


/*STRUCTURE*/
feature-overview {
	img {
		width: 70px;

		@media (min-width: 600px) {
			width: 120px;
		}

		@media (min-width: 800px) {
			width: 170px;
		}
	}

	h2, h3, p {
		text-align: center;
	}

	.container p {
		max-width: 45ch;
	}

	h3 + p {
		padding-top: 20px;
	}

	.container:last-child {
		padding-bottom: 70px;

		@media (min-width: 800px) {
			padding-bottom: 0;
		}
	}

	h2 {
		padding: 70px 0 30px 0;
	}

	h2 + p {
		padding-bottom: 40px;
		max-width: 60ch;
		text-align: center;
		margin-left: auto;
	  	margin-right: auto;

	  	@media (min-width: 800px) {
	  		padding-bottom: 0;
	  	}
	}

	.container {
		@media (min-width: 800px) {
			padding: 60px 0 0 0;
		}
	}
}


/*TYPOGRAPHY*/
feature-overview {
	.calm-voice {
		line-height: var(--space);
	}
}

/*STYLE*/
feature-overview {
	background-color: #f9fafb;
}



/*MODULE 7*/


/*MODULES*/
footer-1 {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 20px;

	@media (min-width: 1200px) {
		display: flex;
		flex-direction: row;
		gap: 150px;
	}

	.socials {
		display: flex;
		gap: 10px;
	}

	.container {
		width: 100%;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
	}

	.container-2 {
		@media (min-width: 700px) {
			display: grid;
			grid-template-rows: auto auto;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 30px;
			width: 100%;
		}

		@media (min-width: 1200px) {
			display: flex;
			justify-content: space-evenly;
		}
	}

	.contact {
		@media (min-width: 700px) {
			grid-column-start: 2;
			grid-column-end: 3;
		}
	}

	.choices {
		@media (min-width: 700px) {
			grid-column-start: 3;
			grid-column-end: 4;
		}
	}

	.services {
		@media (min-width: 700px) {
			grid-column-start: 2;
			grid-column-end: 3;
		}
	}

	.our-work {
		@media (min-width: 700px) {
			grid-column-start: 3;
			grid-column-end: 4;
		}
	}
}



/*STRUCTURE*/
footer-1 {
	@media (min-width: 700px) {
		padding: 50px 10px;
	}

	.subtle-voice {
		margin-bottom: 25px;
		margin-top: 35px;
	}

	img {
		max-width: 40px;
	}

	.container img {
		max-width: 100%;
	}

	p, .info {
		margin-bottom: 15px;
	}

	.container img {
		@media (min-width: 700px) {
			max-width: 100px;
		}

		@media (min-width: 1200px) {
			max-width: 60px;
		}
	}

	.container {
		@media (min-width: 700px) {
			width: 320px;
		}

		@media (min-width: 1200px) {
			width: 200px;
		}
	}
}


/*TYPOGRAPHY*/
footer-1 {
	.calm-voice {
		line-height: var(--space);
	}
}


/*STYLE*/
footer-1 {
	background-color: #1b2436;

	a:hover {
	  color: gray;
	}

	h3, p {
		color: white;
	}

	a {
		color: #707887;
	}
}





/*MODULE 8*/



/*MODULES*/
footer-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;

	.container {
		@media (min-width: 800px) {
			display: flex;
			flex-direction: row;
			flex-grow: 1;
			max-width: 50%;
		}
	}

	.mega-container {
		@media (min-width: 800px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		@media (min-width: 1200px) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 50%;
		}
	}

	.hyper-container {
		@media (min-width: 1200px) {
			display: flex;
			flex-direction: row;
		}
	}

	.brand {
		@media (min-width: 1200px) {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			align-items: flex-start;
			width: 50%;
		}
	}

	.policies {
		@media (min-width: 1200px) {
			display: flex;
			justify-content: flex-end;
			align-items: baseline;
			gap: 3px;
		}
	}
}


/*STRUCTURE*/
footer-2 {
	.subtle-voice {
		padding-bottom: 0.7em;

		@media (min-width: 800px) {
			text-align: start;
		}
	}

	.calm-voice {
		margin: 2em 0;
		max-width: 50ch;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	img {
		width: 25vw;
		margin-left: auto;
		margin-right: auto;

		@media (min-width: 800px) {
			width: 10vw;
		}

		@media (min-width: 1200px) {
			width: 6vw;
			max-width: 150px;
		}
	}

	h1, h3, h4, a, p {
		text-align: center;
	}

	.brand {
		margin-bottom: 3em;
	}

	.socials {
		margin-bottom: 3em;

		@media (min-width: 800px) {
			flex-grow: 1;
		}
	}

	.contact {
		margin-bottom: 3em;
		
		@media (min-width: 800px) {
			flex-grow: 0.5;
		}

		@media (min-width: 1200px) {

			flex-grow: 0.001;
		}
	}

	.policies {
		margin-bottom: 1.5em;

		@media (min-width: 1200px) {
			margin-bottom: 0;
		}
	}

	.mega-container {
		width: 100%;
	}

	.hyper-container {
		position: relative;
		min-width: 100%;
	}

	.hidden {
		display: none;

		@media (min-width: 1200px) {
			display: flex;
		}
	}

	a {
		padding-bottom: 0.7em;
	}

	a.legal {
		padding-bottom: 0;
	}

	.socials a, .contact a {
		@media (min-width: 800px) {
			text-align: start;
		}
	}
			
	.policies a {
		@media (min-width: 800px) {
			text-align: end;
		}
	}

	.container {
		@media (min-width: 1200px) {
			max-width: 100%;
			justify-content: space-between;
		}
	}

	h1, .brand p {
		@media (min-width: 1200px) {
			text-align: start;
		}
	}

	.brand p {
		@media (min-width: 1200px) {
			margin-left: 0;
		}
	}

	.policies a {
		@media (min-width: 1200px) {
			text-align: start;
		}
	}

	.copyright {
		@media (min-width: 1200px) {
			width: 50%;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.copyright h4 {
		@media (min-width: 1200px) {
			text-align: start;
		}
	}
}

/*TYPOGRAPHY*/
footer-2 {
	.calm-voice {
		line-height: var(--space);
	}

	a {
		font-size: 1.1rem;
		line-height: var(--space);
	}
}

/*STYLE*/
footer-2 {
	background-color: #f2f1e5;
	color: #414042;
}



/*MODULE 9*/



/*MODULES*/
stat-highlight {
	display: block;

	@media (min-width: 1100px) {
		display: flex;
		align-items: stretch;

		inner-column {
			flex-direction: row;
			justify-content: center;
		}
	}

	div:nth-of-type(2) {
		@media (min-width: 1100px) {
			flex-shrink: 0;
		}
	}

	.info {
		@media (min-width: 1100px) {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			flex: 1;
		}
	}
}



/*STRUCTURE*/
stat-highlight {
	
	.loud-voice {
		padding: 0.7em 0 3em 0;
	}

	a {
		padding: 4em 0 2em 0;
	}

	.loud-voice, .calm-voice, a {
		padding: 1em 60px;

		@media (min-width: 1100px) {
			padding: 1em 90px;
		}

		@media (min-width: 1800px) {
			padding: 0.3em 90px;
		}
	}

	.calm-voice {
		@media (min-width: 1100px) {
			min-width: 30ch;
		}
	}

	picture, img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


/*TYPOGRAPHY*/
stat-highlight {
	.loud-voice {
		font-family: sans-serif;
		font-size: 5vw;
		font-weight: 700;

		@media (min-width: 1100px) {
			font-size: 3vw;
		}

		@media (min-width: 1800px) {
			font-size: 2vw;
		}
	}

	.calm-voice {
		line-height: 1.6;
	}

	a {
		font-size: 1.2rem;
	}
}


/*STYLE*/
stat-highlight {

	.info{
		background: linear-gradient(to right, #88bc42, #a6d85d);
	}

	a:hover {
		color: gray;
	}

	.loud-voice {
		color: #fcec50;
	}

	p, a {
		color: white;
	}
}





/*MODULE 10*/



/*MODULES*/
footer-3 {
	.mega-container {
		display: flex;
		flex-direction: column;
		gap: 40px;
		padding: 80px 0 50px 0;
		width: 95%;
		margin-left: auto;
		margin-right: auto;

		@media (min-width: 1200px) {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}
	}

	.footer {
		display: flex;
		flex-direction: column;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.container {
		@media (min-width: 600px) {
			display: flex;
			gap: 40px;
		}
	}
}


/*STRUCTURE*/
footer-3 {
	
	.mini-voice {
		padding: 0 0 50px 0;
	}

	.contact {
		margin-bottom: 30px;

		@media (min-width: 600px) {
			flex-grow: 2;
			margin-bottom: 0;
		}
	}

	.legal {
		@media (min-width: 600px) {
			flex-grow: 1.5;
		}
	}

	button {
		width: 100%;
		text-align: start;
		padding: 10px 15px 10px 15px;

		@media (min-width: 800px) {
			width: 350px;
		}

		@media (min-width: 1200px) {
			width: 70%;
		}
	}

	.container {
		@media (min-width: 800px) {
			width: 70%;
		}

		@media (min-width: 1200px) {
			flex-grow: 1;
		}
	}

	.button {

		@media (min-width: 1200px) {
			flex-grow: 1;
		}
	}

	.footer {
		@media (min-width: 1200px) {
			width: 95%;
		}
	}
}


/*TYPOGRAPHY*/
footer-3 {
	.calm-voice {
		line-height: 1.6;
	}

	a {
		line-height: var(--space);
		font-weight: 600;

		@media (min-width: 1200px) {
			line-height: 1.8;
		}
	}

	button {
		font-size: 1.2rem;
		font-weight: 600;
	}
}


/*STYLE*/
footer-3 {
	background: linear-gradient(to right, #265ba4, #3370bf);
	color: white;

	a:hover {
		color: #fbe94e;
	}

	button {
		background-color: #5481bd;
		color: white;
		border: 4px solid #265ba4;
		border-radius: 20px;
	}

	button:hover {
			border-color: #fbe94e;
		}
}





/*MODULE 11*/



/*MODULES*/
tour-booking {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0;
	justify-content: center;

	inner-column {
		align-items: center;
	}

	.book {
		@media (min-width: 700px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 25px;
			width: 100%;
		}
	}

	.book-2 {
		@media (min-width: 700px) {
			display: flex;
			align-items: center;
		}
	}
}



/*STRUCTURE*/
tour-booking {

	.subtle-voice {
		padding: 15px 0 0 7px;
	}

	.loud-voice {
		padding: 0.2em 0;
	}

	p {
		padding: 7px 0 0 7px;
	}

	p + p {
		padding-top: 30px;
	}

	.introductory-2 {
		margin-bottom: 200px;
	}

	.introductory-3 {
		margin-bottom: 100px;
	}

	h4, .introductory, .introductory-2, .introductory-3 {
		text-align: center;
		max-width: 80ch;
	}

	.calendar p {
		padding-top: 0;
	}

	.hidden {
		padding-top: 0;
	}

	.picture {
		display: none;

		@media (min-width: 700px) {
			display: block;
			width: 100%;
		}
	}

	.background {
		position: relative;
		width: 100%;
		height: 150px;

		@media (min-width: 700px) {
			display: none;
		}
	}

	.bottom-right {
		position: absolute;
		font-size: 10px;
		bottom: 30px;
		right: 5px;
	}

	.bottom-right-2 {
		position: absolute;
		font-size: 20px;
		bottom: 5px;
		right: 5px;
	}

	.background-2 {
		position: relative;
		width: 100%;
		height: 150px;

		@media (min-width: 700px) {
			display: none;
		}
	}

	.bottom-right-3 {
		position: absolute;
		font-size: 10px;
		bottom: 30px;
		right: 5px;
	}

	.bottom-right-4 {
		position: absolute;
		font-size: 20px;
		bottom: 5px;
		right: 5px;
	}

	.card {
		width: 250px;
		height: 100%;
		margin-bottom: 30px;

		@media (min-width: 700px) {
			display: flex;
			width: 90%;
			max-width: 800px;
			padding: 15px;
			gap: 20px;
		}
	}

	a {
		text-align: center;
		margin-top: 7px;
		padding: 10px 0;

		@media (min-width: 700px) {
			display: inline-block;
			padding: 10px 20px;
			flex-grow: 0.3;
		}
	}

	.extra-info {
		display: none;

		@media (min-width: 700px) {
			display: block;
		}
	}

	.hidden {
		display: none;

		@media (min-width: 700px) {
			display: block;
		}
	}

	.calendar picture {
		width: 20px;
		margin-left: 7px;
	}

	.calendar {
		display: flex;
		align-items: center;
		margin-bottom: 7px;
	}

	.container-1 {
		@media (min-width: 700px) {
			min-width: 220px;
		}

		@media (min-width: 800px) {
			min-width: 260px;
		}
	}
}



/*TYPOGRAPHY*/
tour-booking {
	.loud-voice {
		text-align: center;
	}

	.calm-voice {
		line-height: 1.6;
	}

	h4 {
		font-size: 1.2rem;
	}

	.bold {
		@media (min-width: 700px) {
			font-weight: 550;
			font-size: 18px;
		}
	}
}


/*STYLE*/
tour-booking {
	.background {
		background-image: url(../images/rectangle-landscape-affinity.png);
		background-size: cover; 
		background-position: center;
		background-repeat: no-repeat;
	}

	.bottom-right {
		color: white;
	}

	.bottom-right-2 {
		color: white;
	}

	.background-2 {
		background-image: url(../images/rectangle-landscape-affinity.png);
		background-size: cover; 
		background-position: center;
		background-repeat: no-repeat;
	}

	.bottom-right-3 {
		color: white;
	}

	.bottom-right-4 {
		color: white;
	}

	.card {
		border: 1px solid lightgray;
	}

	p, h5 {
		color: #303d4a;
	}

	a {
		color: white;
		background-color: #223e36;
	}
}




/*MODULE 12*/



/*MODULES*/
card-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: auto;
   margin-right: auto;
	padding: 2em;

	.container {
		display: flex;
		gap: 15px;

		@media (min-width: 750px) {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
	}

	.mega-container {
		@media (min-width: 750px) {
			display: flex;
			gap: 30px;
		}
	}
}


/*STRUCTURE*/
card-list {

	hr {
	  margin: 20px 0;          
	  width: 100%;
	  margin-left: auto;
	  margin-right: auto;
	}

	h5 {
		padding-bottom: 0.3em;
	}

	.hidden {
		margin-top: 40px;

		@media (min-width: 750px) {
			display: none;
		}
	}

	.hidden-2 {
		display: none;

		@media (min-width: 750px) {
			display: block;
			padding-top: 5px;
		}
	}

	.hidden-5 {
		display: none;

		@media (min-width: 750px) {
			display: block;
		}
	}

	.hidden-3 {
		@media (min-width: 750px) {
			display: none;
		}
	}

	.hidden-4 {
		@media (min-width: 750px) {
			display: none;
		}
	}

	.link-top {
		@media (min-width: 750px) {
			display: flex;
			justify-content: space-between;
		}
	}
}


/*TYPOGRAPHY*/
card-list {
	.loud-voice {
		text-align: center;
		padding: 0.2em 0;
	}

	.attention-voice {
		padding-bottom: 1em;
	}

	.subtle-voice {
		padding: 15px 0 0 7px;
	}

	.calm-voice {
		font-size: 14px;
		line-height: 1.2;

		@media (min-width: 950px) {
			font-size: 16px;
		}
	}

	h5 {
		font-size: 1.1rem;
	}
}


/*STYLE*/
card-list {
	background-color: #89CFF0;

	hr {
	  border: none;   
	  border-top: 1px solid #ccc; 
	}

	a {
		color: blue;
		text-decoration: underline;
	}
}





/*MODULE 13*/



/*MODULE*/
footer-4 {
	
	.payment {
		display: flex;
		gap: 10px;
	}

	.socials {
		display: flex;
	}

	.links {
		display: flex;
		gap: 7px;
		margin-top: 25px;
		margin-bottom: 30px;
	}

	.links-2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: 35px;
	}
}


/*STRUCTURE*/
footer-4 {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 0;

	.loud-voice {
		padding: 0.2em 0;
	}

	.attention-voice {
		padding-bottom: 1em;
	}

	.subtle-voice {
		padding: 15px 0 0 7px;
	}

	.logo picture {
		width: 100px;
		margin-bottom: 20px;
	}

	.payment img {
		width: auto;
		height: 20px;
		object-fit: contain;
	}

	.socials img {
		height: 30px;
	}

	.links-2-a {
		display: flex;
		flex-dorection: row;
		gap: 10px;
	}

	.last-hr {
		margin-top: 25px;
	}

	.payment {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.socials {
		margin-bottom: 25px;
	}

	.last-p {
		margin-bottom: 35px;
	}
}

/*TYPOGRAPHY*/
footer-4 {
	.loud-voice {
		text-align: center;
	}

	p, a {
		font-size: 14px;
	}

	.links a {
		font-size: 14px;
		font-weight: 600;
	}

	.links-3 a {
		font-size: 17px;
		font-weight: 600;
	}
}


/*STYLE*/
footer-4 {
	hr {
		border-color: lightgray;
	}
}


@media (min-width: 750px) {

	/*MODULE*/
	footer-4 {
		.links-3 {
			display: flex;
			flex-direction: row;
			gap: 30px;
		}

		.container {
			display: flex;
		
			flex-grow: 1;
		}

		.payment {
			flex-grow: 1;
		}

		.socials {
			align-items: flex-end;
			flex-grow: 0;
		}
	}

	/*STRUCTURE*/
	footer-4 {
		.links-3 hr {
			display: none;
		}
	}


	/*TYPOGRAPHY*/
	footer-4 {
		.links-3 a {
			font-size: 15px;
		}
	}
	
}

@media (min-width: 950px) {

	/*MODULE*/
	footer-4 {
		.container-2 {
			display: flex;
			align-items: center;
			gap: 60px;
		}

		.container-3 {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	}

	/*STRUCTURE*/
	footer-4 {
		.links-3 {
			flex-wrap: wrap;
		}

		.links {
			margin-bottom: 0;
		}

		.last-hr {
			margin-top: 10px;
		}
	}


	/*TYPOGRAPHY*/
	footer-4 {
		.links a {
			font-size: 17px;
		}

		.links-3 a {
			font-size: 17px;
		}

		.links p {
			font-size: 18px;
		}
	}
}





/*MODULE 14*/




/*MODULES*/
footer-5 {
	display: flex;
	flex-direction: column;
	width: 95%;
	
	margin-left: auto;
	margin-right: auto;
	padding: 3em 0;


	.logo {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	.info {
		display: flex;
		gap: 40px;
		margin-bottom: 40px;
	}

	.socials {
		display: flex;
		align-items: center;
		gap: 15px;
	}
}


/*STRUCTURE*/
footer-5 {

	.loud-voice {
		padding: 0.2em 0;
	}

	.attention-voice {
		padding-bottom: 1.5em;
	}

	.subtle-voice {
		padding-bottom: 1.5em;
	}

	.logo picture {
		width: 70px;
	}

	a, p {
		margin-bottom: 30px;
	}

	p {
		margin-top: 70px;
	}

	.logo a {
		padding: 10px 15px;
	}

	hr {
	  margin: 20px 0 40px 0;
	  width: 100%;
	}

	.socials img, .socials-2 img {
		width: 30px;  
		object-fit: contain;
	}

	.button img {
		display: inline;
		width: 15px;
		margin-right: 5px;
	}

	.button picture {
		display: inline;
		width: 15px;
	}

	.socials-2 {
		display: none;
	}
}


/*TYPOGRAPHY*/
footer-5 {
	.attention-voice {
		font-size: 1.3 rem;
	}

	a {
		font-size: 18px;
	}

	.logo a {
		font-size: 18px;
		word-spacing: 0.1rem;
	}
}

/*STYLE*/
footer-5 {
	.logo a {
		border: 3px solid black;
		border-radius: 20px;
	}

	hr {
	  border: none;
	  border-top: 1px solid black;
	}
}



@media (min-width: 600px) {

	/*MODULES*/
	footer-5 {
		.logo {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
	

	/*STRUCTURE*/
	footer-5 {
		.info {
			width: 50%;
		}

		.info-1 {
			flex-grow: 2;
		}

		.info-2 {
			flex-grow: 1.5;
		} 

		.logo .button  a {
			margin-bottom: 0;
		}
	}

}

@media (min-width: 1200px) {

	/*MODULES*/
	footer-5 {
		.footer {
			display: flex;
			justify-content: flex-end;
		}

		.container {
			display: flex;
			gap: 40px;
		}
	}

	/*STRUCTURE*/
	footer-5 {
		.socials {
			display: none;
		}

		.socials-2 {
			display: flex;
		}

		.info {
			width: auto;
			flex-grow: 1;
		}

		.info-1 {
			flex-grow: 1;
		}

		.info-2 {
			flex-grow: 2;
		}

		.legal {
			flex-grow: 3;
		}
	}
}





/*MODULE 15*/



/*MODULE*/
featured-content {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;

	.container-2 {
		display: flex; 
		flex-direction: column;
		flex-grow: 1;
	 }

	.container {
		display: flex;
		flex-direction: column;
		flex-grow: 0;
	 }
}

/*STRUCTURE*/
featured-content {
	
	loud-voice {
		padding: 0.2em 0;
	}

	.attention-voice {
		padding: 1.5em 0;
	}

	.subtle-voice {
		margin-bottom: 15px;
	}

	.container-2 .subtle-voice {
		padding-top: 1.5em;
	}

	.card-1 {
		margin: 30px 0 20px 0;
	}

	.card-2 {
		margin-bottom: 20px;
	}

	.info-3, .info-4 {
		margin: 0 15px 20px 15px;
	}

	.info-1, .info-2 {
		padding: 20px;
	}

	.info-3, .info-4 {
		padding: 20px 40px 20px 15px;
	}

	.info-1 .button, .info-3 .button, .info-4 .button {
		display: inline-block;
		padding: 10px 20px;
	}

	.info-2 .button {
		display: inline-block;
		padding: 10px 20px;
	}

	.card-1, .card-2 {
	 	flex-grow: 1;
	 }

	 .info-3, .info-4 {
	 	flex-grow: 0;
	 }

	 img {
		min-height: 60vw;
		object-fit: cover;
	}
}


/*TYPOGRAPHY*/
featured-content {
	.loud-voice {
		font-size: 1.1rem;
		font-weight: 500;
		text-align: center;
		padding: 0.2em 0;
	}

	.attention-voice {
		padding: 1.5em 0;
	}

	.subtle-voice {
		margin-bottom: 15px;
	}

	p {
		margin-bottom: 20px;
		line-height: 1.4;
	}
}

/*STYLE*/
featured-content {
	.info-2 .subtle-voice {
		color: black;
	}

	.info-1 .button {
		color: white;
		background-color: black;
		border-radius: 25px;
	}

	.info-2 .button {
		color: white;
		background-color: black;
		border-radius: 25px;
	}

	.info-3 .button {
		color: white;
		background-color: black;
		border-radius: 25px;
	}

	.info-4 .button {
		color: white;
		background-color: black;
		border-radius: 25px;
	}

	a > h3:hover {
		text-decoration: underline;
	}

	.card-1 {
		background-color: #357abc;
		color: white;
	}

	.card-2 {
		background-color: #d9bda0;
	}

	.info-3 {
		background-color: #4593ae;
		color: white;
	}

	.info-4 {
		background-color: #424242;
		color: white;
	}

	.info-1 .button, .info-3 .button, .info-4 .button {
		color: black;
		background-color: white;
		border-radius: 25px;
	}

}

@media (min-width: 600px) {

	/*MODULE*/
	featured-content {
		.container {
			display: flex;
			flex-direction: row;
			gap: 30px;
		}

		.container-2 {
			display: flex;
			flex-direction: column;
		}

		.card-1, .card-2 {
			display: flex; 
			flex-direction: column;
		}
	}

	/*STRUCTURE*/
	featured-content {
		width: 85%;
		min-height: 100%; 

		.info-3, .info-4 {
			margin: 0 0px 20px 0px;
		}

		img {
			min-height: 30vw;
			object-fit: cover;
		} 
	}
}

@media (min-width: 800px) {

	/*STRUCTURE*/
	featured-content {
		.card-1, .card-2 {
			margin-bottom: 50px;
		}

		img {
			min-height: 10vw;
			object-fit: cover;
		} 
	}
}

@media (min-width: 1200px) {

	/*MODULE*/
	featured-content {
		.card-1 {
			display: flex;
			flex-direction: row;
		}

		.card-2 {
			display: flex;
			flex-direction: row-reverse;
		}
	}

	/*STRUCTURE*/
	featured-content {
		.card-1 .picture, .card-2 .picture {
        width: 65%;
    }

    .info-1, .info-2 {
        width: 35%; 
    }

    img {
			height: 100%;
			object-fit: cover;
		}
	}
}

@media (min-width: 1400px) {

	/*STRUCTURE*/
	featured-content {
		width: 75%;

		img {
			height: 100%;
			object-fit: cover;
		}
	}
}





/*MODULE 16*/



/*MODULES*/
footer-6 {
	width: 100vw;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: ;
	text-align: center;
	padding: 40px;

	@media (min-width: 1000px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		inner-column {
			flex-direction: row;
		}
	}

	.social {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 1.5em;
	}

	.input {
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}

	.mega-container-1 {
		@media (min-width: 600px) {
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}


/*STRUCTURE*/
footer-6 {
	.left {
		@media (min-width: 600px) {
			text-align: left;
		}
	}

	.right {
		@media (min-width: 600px) {
			text-align: right;
		}

		@media (min-width: 1000px) {
			text-align: left;
		}
	}

	.attention-voice {
		padding: 1.5em 0 0.5em 0;

		@media (min-width: 1000px) {
			padding-top: 0;
		}
	}

	.subtle-voice {
		padding-bottom: 0.7em;
	}

	.miniscule-voice {
		padding-bottom: 0.5em;
	}

	p + a {
		margin-bottom: 0.3em;
	}

	img {
		width: 40px;
	}

	.info {
		margin-bottom: 2em;
	}

	.info a {
		padding-bottom: 0.3em;
	}

	hr {
		margin-bottom: 2em;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	p {
		padding-bottom: 0.5em;
	}

	.input-1 {
		padding: 10px;
	}

	.input-2 {
		padding: 10px;
	}

	.hidden {
		@media (min-width: 1000px) {
			display: none;
		}
	}

	.mega-container-2 {
		@media (min-width: 1000px) {
			flex-grow: 1;
		}
	}

	.mega-container-2 hr {
		@media (min-width: 1000px) {
			width: 100%;
		}
	}

	.input {
		@media (min-width: 1000px) {
			width: 100%;
		}
	}
}


/*TYPOGRAPHY*/
footer-6 {
	.attention-voice {
		font-size: 1.6rem;
	}

	.subtle-voice {
		font-size: 1.2rem;
	}

	.mega-container-2 p:nth-of-type(2) {
		font-size: 20px;
	}

	.mega-container-2 p:nth-of-type(3) {
		font-size: 30px;
	}

	.input-2 {
		font-size: 17px;
	}
}

/*STYLE*/
footer-6 {
	background-color: #e6e6e6;

	.attention-voice {
		color: #606060;
	}

	.subtle-voice {
		color: #606060;
	}

	.miniscule-voice {
		color: #5ca2dc;
	}

	p + a {
		color: #5ca2dc;
	}

	p + a:hover {
		text-decoration: underline;
	}

	.info a {
		color: #88898c;
	}

	.info a:hover {
		color: #afb0b2;
	}

	p {
		color: #88898c;
	}

	.mega-container-2 p:nth-of-type(2) {
		color: #606060;
	}

	.mega-container-2 p:nth-of-type(3) {
		color: #606060;
	}

	.input-1 {
		border: 0;
	}

	::placeholder {
	  color: #afb0b2;
	}

	.input-2 {
		background-color: #2a64ae;
		color: white;
	}
}






/*MODULE 17*/



/*MODULES*/
article-showcase {
	.info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1em;
		margin-bottom: 4em;
	}
}


/*STRUCTURE*/
article-showcase {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 3em 0;

	.loud-voice {
		padding: 0.2em 0;
	}

	.attention-voice {
		padding: 1.5em 0 0.5em 0;
	}

	.subtle-voice {
		padding: 0.7em 0;
	}

	.calm-voice {
		font-family: serif;
		font-size: 1.3rem;
		line-height: var(--space);
		max-width: 60ch;
	}

	.container a:nth-of-type(2) {
		display: none;
	}

	.container a:nth-of-type(3) {
		display: none;
	}

	.container {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.background {
		position: relative;
		width: 100%;
		height: 42vw;
		max-height: 300px;
	}

	.background-2 {
		width: 100%;
		height: 42vw;
		max-height: 300px;
	}

	.background-3 {
		width: 100%;
		height: 42vw;
		max-height: 300px;
	}

	.background div {
		position: absolute;
		top: 0;
		right: 0;
		padding: 1em;
	}

	.info a {
		display: inline-block;
		padding: 0.5em 1em;
	}

	.container p, .container h3 {
		padding-left: 1em;
		width: 90%;
		max-width: 40ch;
	}
}

/*TYPOGRAPHY*/
article-showcase {
	.loud-voice {
		text-align: center;
	}

	.calm-voice {
		font-size: 1.3rem;
		line-height: var(--space);
		max-width: 60ch;
	}

	.info p, .info a, .info h1 {
		text-align: center;
	}
}

/*STYLE*/
article-showcase {
	.background {
		background-image: url(../images/rectangle-landscape-affinity.png);
		background-size: cover;
	  background-position: center;
	  border: 1px solid black;
	}

	.background-2 {
		background-image: url(../images/rectangle-landscape-affinity.png);
		background-size: cover;
	  background-position: center;
	  border: 1px solid black;
	}

	.background-3 {
		background-image: url(../images/rectangle-landscape-affinity.png);
		background-size: cover;
	  background-position: center;
	  border: 1px solid black;
	}

	.background div {
		background-color: white;
	}

	.info a {
		background-color: black;
		color: white;
	}

	hr {
	  width: 17%;               
	  border: none;              
	  border-top: 1px solid #ccc; 
	  margin: 1em auto;          
	}

	h3 {
		color: #ab957a;
	}

	.info p {
		color: #676767;
	}

	.container p {
		color: #333333;
	}
}


@media (min-width: 700px) {

	/*MODULES*/
	article-showcase {
		.container {
			display: flex;
			justify-content: center;
			gap: 30px;
		}
	}

	/*STRUCTURE*/
	article-showcase {
		.container a:nth-of-type(2) {
			display: block;
		}

		.background {
			height: 20vw;
		}

		.background-2 {
			position: relative;
			height: 20vw;
		}

		.background-2 div {
			position: absolute;
			top: 0;
			right: 0;
			background-color: white;
			padding: 1em;
		}
	}
}

@media (min-width: 1000px) {
	/*STRUCTURE*/
	article-showcase {
		.container a:nth-of-type(3) {
			display: block;
		}

		.background-3 {
			position: relative;
			height: 13vw;
			max-width: 400px;
		}

		.background-2 {
			height: 13vw;
			max-width: 400px;
		}

		.background {
			height: 13vw;
			max-width: 400px;
		}

		.background-3 div {
			position: absolute;
			top: 0;
			right: 0;
			background-color: white;
			padding: 1em;
		}
	}
}






/*MODULE 18*/



/*MODULES*/
header {
	display: flex;
	flex-direction: column;
	width: 95%;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	gap:3px;

	.container {
		display: flex;
		justify-content: space-between;
	}

	.container-2 {
		display: flex;
		gap: 10px;
	}

	.icons {
		display: flex;
		gap: 25px;
	}

	.container > div {
		display: flex;
		align-items: center;
	}

	.search-2 {
		display: flex;
		flex-grow: 1;
		position: relative;
	}

	.search {
		display: flex;
		position: relative;
		flex-grow: 1;
	}
}


/*STRUCTURE*/
header {

	.loud-voice {
		padding: 0.2em 0;
	}

	.attention-voice {
		padding: 1.5em 0 0.5em 0;
	}

	.subtle-voice {
		padding: 0.7em 0;
	}

	.calm-voice {
		font-family: serif;
		font-size: 1.3rem;
		line-height: var(--space);
	}

	img {
		width: 30px;
	}

	.logo {
		width: 70px;
		padding: 0.5em;
		padding-left: 0;
		margin-left: 0;
	}

	.hidden {
		display: none;
	}

	.hidden-2 {
		display: none;
	}

	.container-2 input {
		flex-grow: 1; 
	}

	a {
		padding: 0.4em;
	}

	button img {
		width: 10px;
	}

	.search button {
		position: absolute;
		right: 10px;
		top: 30%;
	}

	.search-2 input {
		height: 30px;
	}

	.search-2 button {
		position: absolute;
		right: 10px;
		top: 30%;
	}

	.search button {
		display: none;
	}

	input::placeholder {
		padding-left: 0.5em;
	}
}

/*TYPOGRAPHY*/
header {
	.loud-voice {
		text-align: center;
	}

	.calm-voice {
		font-size: 1.3rem;
		line-height: var(--space);
	}
}

/*STYLE*/
header {
	.subtle-voice {
		color: #ab9479;
	}

	input {
		border-radius: 15px;
		border: 2px solid black;
	}

	a:hover {
		background-color: lightgray;
	}

	a {
		border-radius: 7px;
	}

	.search button {
		background-color: white;
		border: 0;
	}

	.search-2 button {
		background-color: white;
		border: 0;
	}

	.e-shop img {
		border-radius: 10px;
	}
}

@media (min-width: 900px) {
	/*MODULES*/
	header {
		.icons div {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}

	/*STRUCTURE*/
	header {
		.hidden-2 {
			display: flex;
		}
	}
}

@media (min-width: 1100px) {
	/*MODULES*/
	header {
		.links {
			display: flex;
			align-items: center;
			gap: 20px;
		}

		.container-2 {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.container > div {
			display: flex;
			gap: 30px;
			align-items: center;
		}

		.e-shop div {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}

	/*STRUCTURE*/
	header {
		.hidden {
			display: flex;
		}

		.hidden-3 {
			display: none
		}

		.hidden {
			display: flex;
			gap: 8px;
		}

		.container input {
			flex-grow: 1;
			height: 30px;
		}

		.container > div:first-child {
			flex-grow: 1;
		}

		.container {
			gap: 40px;
		}

		.search button {
			display: flex;
		}

		.search-2 button {
			position: absolute;
			right: 10px;
			top: 30%;
			background-color: white;
			border: 0;
			display: none;
		}

		.e-shop a {
			padding-left: 0;
		}
	}
}