@import 'meyer-reset.css';
@import 'setup.css';

html {
	--passionate: hsl(var(--hue-1), 100%, 25%);
	--affirmative: hsl(var(--hue-2), 75%, 57%);
	--vibrant: hsl(var(--hue-3), 100%, 75%);
	--soothing: hsl(var(--hue-4), 48%, 48%);
	--bright: hsl(var(--hue-3), 96%, 65%);
	--sea: hsl(var(--hue-5), 65%, 61%);
	--coffee: hsl(var(--hue-6), 23%, 57%);
	--background-1: hsl(var(--hue-5), 47%, 90%);
	--background-2: hsl(var(--hue-1), 43%, 50%);
	--background-3: hsl(var(--hue-4), 27%, 14%);
	--background-4: hsl(var(--hue-5), 29%, 95%); 
	--background-5: linear-gradient(to right, hsl(var(--hue-2), 62%, 60%), hsl(var(--hue-5), 73%, 75%));
	--background-6: linear-gradient(to right, hsl(var(--hue-7), 49%, 34%), hsl(var(--hue-2), 47%, 49%));
	--background-7: hsl(var(--hue-4), 64%, 83%);   
	--background-9: hsl(var(--hue-7), 44%, 44%); 
	--background-10: hsl(var(--hue-1), 22%, 80%); 
	--background-11: hsl(var(--hue-9), 32%, 52%); 
	--background-12: hsl(var(--hue-7), 17%, 23%);
	--background-15: hsl(var(--hue-10), 22%, 24%);
	--background-16: hsl(var(--hue-1), 1%, 25%);
	--background-21: linear-gradient(135deg, hsl(var(--hue-2), 52%, 80%) 0%, hsl(var(--hue-2), 48%, 74%) 35%, hsl(var(--hue-1), 49%, 69%) 65%, hsl(var(--hue-1), 48%, 78%) 100%);
	--background-22: hsl(var(--hue-8), 55%, 62%);
	--background-23: hsl(var(--hue-6), 29%, 18%);
	--background-24: hsl(var(--hue-3), 61%, 43%);
	--background-25: hsl(0, 0%, 38%);
	--background-26: hsl(var(--hue-10), 63%, 61%);
	--background-27: hsl(var(--hue-11), 2%, 69%);
	--background-28: hsl(var(--hue-12), 1%, 54%);
	--background-29: hsl(var(--hue-13), 22%, 57%);
	--background-30: hsl(var(--hue-14), 9%, 48%);
	--radius-small: 10px;
	--radius-medium: 17px;
	--radius-pill: 25px;
	--space: 1.4;
	--space-0: 0.25rem;
	--space-1: 0.5rem;
   --space-2: 1rem;
   --space-3: 1.5rem;
   --space-4: 2rem;
   --space-5: 3rem;
   --space-6: 4rem;
   --space-7: 5rem;
   --space-8: 10rem;
   --hue-1: 300;
   --hue-2: 262;
   --hue-3: 273;
   --hue-4: 254;
   --hue-5: 270;
   --hue-6: 279;
   --hue-7: 257;
   --hue-8: 246;
   --hue-9: 251;
   --hue-10: 210;
   --hue-11: 225;
   --hue-12: 240;
   --hue-13: 30;
   --hue-14: 222;
}

body {
	position: relative;
}

header {

	position: sticky;
	top: 0;
	z-index: 10;
	padding: var(--space-4) var(--space-1);
	background-color: var(--background-7);

	h2.attention-voice {
		margin: 0;
		padding: 0;
	}
}

partials {
	display: flex;
	flex-direction: column;
	
}

inner-column {
	display: flex; 
   flex-direction: column;
	max-width: 1100px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

::selection {
	background-color: var(--bright);
	color: var(--background-4);
}

.loud-voice {
	font-family: 'Merriweather', sans-serif;
	font-size: 3rem;
	font-weight: 700;
}

.attention-voice {
	font-family: 'Merriweather', sans-serif;
	font-size: 2rem;
	font-weight: 600;
}

.subtle-voice {
	font-family: 'Merriweather', sans-serif;
	font-size: 1.5rem;
	font-weight: 550;
}

.wise-voice {
	font-family: 'Merriweather', sans-serif;
	font-size: 1.2rem;
	font-weight: 550;
}

.extra-wise-voice {
	font-family: 'Merriweather', sans-serif;
	font-size: 1.1rem;
	font-weight: 550;
}

.calm-voice {
	font-family: 'Mulish', serif;
	font-size: 1rem;
	font-weight: 450;
	line-height: var(--space);
	word-spacing: 1px;
}

.miniscule-voice {
	font-family: 'Mulish', sans-serif;
	font-size: 0.8rem;
}

.mini-voice {
	font-family: 'Mulish', sans-serif;
	font-size: 0.6rem;
	font-weight: 200;
}

.clamp-voice {
	font-size: clamp(1rem, 7vw, 1.2rem);
}

.clamp-voice-2 {
	font-size: clamp(4rem, 10vw, 4.5rem);
   font-weight: 700;
}

a {
	font-family: 'Mulish', sans-serif;
	font-size: 1rem;
}

split-hero, info-cards, feature-tiles, content-split, success-stories-list, feature-overview, footer-1,
footer-2, stat-highlight, footer-3, tour-booking, card-list, footer-4, footer-5, footer-6, featured-content, 
article-showcase, footer-1, header-2 {
	padding: var(--space-5) var(--space-1);
}


/*FIRST MODULE*/


/*MODULES*/

split-hero {
	display: flex;
	flex-direction: column;
	gap: var(--space-3);
	text-align: center;

	section {
		gap: var(--space-3);

		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}
	
	.info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		padding: var(--space-2);

		p {
			margin-top: var(--space-2);

			@media (min-width: 640px) {
				max-width: 30ch;
				margin-left: auto;
				margin-right: auto;
			}
		}

		a {
			display: inline-block;
			margin-top: var(--space-2);
			padding: var(--space-1);
		}
	}

	@media (min-width: 640px) {
		.half {
			display: flex;
			flex-direction: row;
			align-items: stretch;
			height: 300px;
			
			
			picture, .info {
				width: 50%;
			}
			&:nth-of-type(even) {
				flex-direction: row-reverse;
			}

			picture {
				object-fit: cover;
			}

			picture img {
             display: block;
             width: 100%;   
             height: 100%;  
             object-fit: cover;
         }
		}
	}
}

/*STYLE*/

split-hero {

	background-color: var(--background-4);

	a {
		border: 1px solid black;
		border-radius: var(--radius-medium);

		&:hover {
			color: var(--background-2);
			border: 1px solid var(--background-2);
		}
	}

	.one .info {
		background-color: var(--background-1);
		color: var(--background-16);
	}

	.two .info {
		background-color: var(--background-2);
	}

	.two h2, .two p, .two a {
		color: var(--background-4);
	}

	.two a {
		border: 1px solid var(--background-4);

		&:hover {
			color: var(--background-1);
			border: 1px solid var(--background-1);
		}
	}
}



/*SECOND MODULE*/


/*MODULES*/
info-cards {
	display: block;

	container {
		display: grid;
		justify-content: center;    
		gap: var(--space-3);
		grid-template-columns: repeat(auto-fit, minmax(235px, 255px));
	}
}

/*STRUCTURE*/
info-cards {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	.info {
		@media (max-width: 700px) {
			max-width: 400px;
		}

		@media (min-width: 1450px) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	.container {
		padding: 0 var(--space-2);
	}

	h2 {
		margin: var(--space-2) 0 var(--space-1) 0;
	}

	a {
		margin: var(--space-3) 0;
	}
}


/*STYLE*/
info-cards {
	background-color: var(--background-4);
	color: var(--background-16);

	.info {
		border: 1px solid #d3d3d3;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}

	a:hover {
		color: var(--bright);
	}
}





/*THIRD MODULE*/


/*MODULE*/
feature-tiles {
	.info-pic {
		display: flex;
		align-items: center;
		gap: var(--space-3);
		height: 100px;
		padding: var(--space-2) 0;
	}
}

/*STRUCTURE*/
feature-tiles {
	display: block;
	position: relative;

	img {
		max-width: 50px;
		border-radius: var(--radius-small);
		border: 1px solid lightgray;
		object-fit: cover;
	}

	.calm-voice {
		margin-bottom: var(--space-1);

		@media (max-width: 316px) {
			padding: 0;
		}
	}
}

/*TYPOGRAPHY*/
feature-tiles {
	.calm-voice {
		line-height: 1.1;
	}
}

/*STYLE*/
feature-tiles {
	background-color: var(--background-4);
	color: var(--background-16);

	p {
		color: gray;
	}

	.picture img {
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}
}

@media (min-width: 700px) {
	/*STYLE*/
	feature-tiles {
		img {
			border-radius: 50%;
		}

		a:hover {
			color: var(--bright);
		}
	}
	
}

@media (min-width: 1000px) {

	/*MODULE*/
	feature-tiles {
		display:flex;
		justify-content: space-evenly;
		gap: var(--space-3);

		inner-column {
			flex-direction: row;
			justify-content: space-evenly;
			gap: var(--space-3);
		}
	} 

	/*STRUCTURE*/
	feature-tiles {
		img {
			max-width: 100px;
			border-radius: var(--radius-medium);
		}
	}
}




/*MODULE 4*/



/*MODULES*/
content-split {

	.regulations {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 200px;

		@media(max-width: 600px) {
			margin-top: var(--space-2);
		}
	}

	.container-2 {
		@media (min-width: 800px) {
			display: flex;
			align-items: flex-start;
			gap: var(--space-2);
		}
	}
}

@media (min-width: 1000px) {
	content-split {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		gap: var(--space-4);

		inner-column {
			flex-direction: row;
			gap: var(--space-4);
		}
	}
}


/*STRUCTURE*/
content-split {

	@media (min-width: 600px) {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	@media (min-width: 1000px) {
		width: 100%;
	}

	.loud-voice {
		padding-top: var(--space-4);

		@media (min-width: 1000px) {
			padding-top: 0;
		}
	}

	.attention-voice {
		padding-top: var(--space-4);
	}

	.calm-voice {
		/*padding-top: var(--space-4);*/
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: var(--space-2);
	}

	.subtle-voice {
		@media (max-width: 305px) {
			padding-left: var(--space-1);
		}
	}

	ul {
		padding-top: var(--space-2);
	}

	ul li:before {
		padding-right: var(--space-1);
	}

	li {
		padding: var(--space-1) 0;
	}

	p {
		@media (min-width: 600px) {
			max-width: 60ch;
		}

		@media (min-width: 1000px) {
			padding-right: var(--space-2);
			min-width: 30ch;
		}
	}

	.regulations {
		@media (min-width: 600px) {
			height: 300px;
			width: 300px;
		}

		@media (min-width: 800px) {
			flex: 0 0 300px;
		}
	}

	img {
		@media (min-width: 1000px) {
			min-height: 500px;
			object-fit: cover;
		}
	}
}


/*STYLE*/
content-split {

	/*background-image: url('../images/test.jpg');*/
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	background: var(--background-21);

	.loud-voice, p, li, .subtle-voice {
		color: var(--background-16);
	}

	.attention-voice {
		color: var(--passionate);
	}

	img {
		border: 1px solid lightgray;
	}

	ul {
		list-style: none;
	}

	ul li:before {
		content: '✓';
		color: var(--affirmative);
	}

	.regulations {
		background-color: lightgray;
	}
}





/*MODULE 5*/



/*MODULES*/
success-stories-list {

	.stories {
		display: flex;
		justify-content: center;
		gap: var(--space-2);
	}

	.stories:nth-of-type(1) {
		justify-self: start;
	}

	.stories:nth-of-type(2) {
		justify-self: end;
	}

	.stories:nth-of-type(3) {
		justify-self: start;
	}

	.stories:nth-of-type(4) {
		justify-self: end;
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: var(--space-4);
		width: 100%;
		margin-right: auto;
		margin-left: auto;

		@media (min-width: 1000px) {
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			justify-content: stretch;
			justify-items: stretch;
			gap: var(--space-5);
			width: 100%;
		}
	}
}


/*STRUCTURE*/
success-stories-list {
	h2 {
		margin: 0 0 var(--space-5) 0;
	}

	p {
		max-width: 50ch;
	}

	.more-stories {
		margin-top: var(--space-5);
	}

	h2, .more-stories {
		text-align: center;
	}

	img {
		width: 50px;
		object-fit: cover;
	}

	a {
		margin-bottom: var(--space-0);
	}
}


/*STYLE*/
success-stories-list {
	background: var(--background-4);
	color: var(--background-16);
	
	a {
		text-decoration: underline;

		&:hover {
			color: var(--bright);
		}
	}

	img {
		border-radius: 50%;
		border: 1px solid lightgray;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}
}





/*MODULE 6*/


/*MODULES*/
feature-overview {

	.mega-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--space-5);
		max-width: 100%;
		margin-top: var(--space-6);
		margin-left: auto;
		margin-right: auto;

		@media (min-width: 800px) {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
		}
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--space-3);
	}
}


/*STRUCTURE*/
feature-overview {
	img {
		width: 70px;

		@media (min-width: 600px) {
			width: 120px;
		}

		@media (min-width: 800px) {
			width: 170px;
		}
	}

	h2, h3, p {
		text-align: center;
	}

	.container p {
		max-width: 45ch;
	}

	h3 + p {
		padding-top: var(--space-2);
	}

	.container:last-child {
		padding-bottom: var(--space-6);

		@media (min-width: 800px) {
			padding-bottom: 0;
		}
	}

	h2 {
		padding: 0 0 var(--space-2) 0;
	}

	h2 + p {
		max-width: 60ch;
		text-align: center;
		margin-left: auto;
	  	margin-right: auto;

	  	@media (min-width: 800px) {
	  		padding-bottom: 0;
	  	}
	}


}

/*STYLE*/
feature-overview {
	background-color: var(--background-4);
	color: var(--background-16);

	img {
		border: 1px solid lightgray;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}
}



/*MODULE 7*/


/*MODULES*/
footer-1 {

	@media (min-width: 1200px) {
		display: flex;
		flex-direction: row;
		gap: var(--space-8);
	}

	.socials {
		display: flex;
		gap: var(--space-1);
	}

	.container {
		width: 100%;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		gap: var(--space-1);
	}

	.container-2 {
		display: flex;
		flex-direction: column;
		gap: var(--space-5);

		@media (min-width: 700px) {
			display: grid;
			grid-template-rows: auto auto;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: var(--space-4);
			width: 100%;
		}

		@media (min-width: 1200px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.contact {
		@media (min-width: 700px) {
			grid-column-start: 1;
			grid-column-end: 2;
		}
	}

	.choices {
		@media (min-width: 700px) {
			grid-column-start: 4;
			grid-column-end: 5;
		}
	}

	.services {
		@media (min-width: 700px) {
			grid-column-start: 1;
			grid-column-end: 2;
		}
	}

	.our-work {
		@media (min-width: 700px) {
			grid-column-start: 4;
			grid-column-end: 5;
		}
	}
}



/*STRUCTURE*/
footer-1 {

	.wise-voice {
		margin-bottom: var(--space-4);
	}

	img {
		max-width: 40px;
	}

	.container img {
		max-width: 100%;
	}

	p, .info {
		margin-bottom: var(--space-2);
	}

	.container img {
		@media (min-width: 700px) {
			max-width: 100px;
		}

		@media (min-width: 1200px) {
			max-width: 60px;
		}
	}

	.container {
		@media (min-width: 700px) {
			width: 320px;
		}

		@media (min-width: 1200px) {
			width: 200px;
		}
	}
}

/*STYLE*/
footer-1 {
	background-color: var(--background-3);

	a:hover {
	  color: var(--bright);
	}

	h3, p {
		color: var(--background-4);
	}

	a {
		color: var(--background-30);
	}
}





/*MODULE 8*/



/*MODULES*/
footer-2 {

	.hyper-container {

		@media (min-width: 600px) {
			display: grid;
			grid-template-rows: 1.5fr 0.6fr 0.15fr;
			grid-template-columns: 1fr 1fr;
		}

		@media (min-width: 1000px) {
			display: grid;
			grid-template-rows: 1fr 0.1fr;
			grid-template-columns: 1fr 1fr;
		}
	}

	.brand {

		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width: 600px) {
			grid-area: 1 / 1 / 2 / 3 ;

			align-items: center;
		}

		@media (min-width: 1000px) {
			grid-area: 1 / 1 / 2 / 2 ;

			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			align-items: flex-start;
		}
	}

	.container {

		@media (max-width: 390px) {
			display: flex;
			flex-direction: column;
		}

		@media (min-width: 391px) {
			display: flex;
			flex-direction: row;
			gap: var(--space-8);
		}

		@media (min-width: 600px) {
			grid-area: 2 / 1 / 3 / 2 ;
			
			display: flex;
			flex-direction: row;
		}

		@media (min-width: 1000px) {
			grid-area: 1 / 2 / 2 / 3 ;
		}
	}

	.policies {
		@media (min-width: 600px) {
			grid-area: 2 / 2 / 3 / 3 ;
		}

		@media (min-width: 1000px) {
			grid-area: 2 / 2 / 3 / 3 ;

			display: flex;
			justify-content: flex-end;
			align-items: baseline;
			gap: var(--space-0);
		}
	}

	.copyright {
		@media (min-width: 600px) {
			grid-area: 3 / 1 / 4 / 3 ;
		}

		@media (min-width: 1000px) {
			grid-area: 2 / 1 / 3 / 2 ;
		}
	}
}


/*STRUCTURE*/
footer-2 {
	
	.wise-voice {
		padding-bottom: var(--space-3);

		@media (min-width: 600px) {
			text-align: start;
		}
	}

	.calm-voice {
		margin: var(--space-4) 0;
		max-width: 50ch;
		
		text-align: left;

		@media (min-width: 600px) {
			margin-left: auto;
			margin-right: auto;

			text-align: center;
		}
	}

	img {
		width: 25vw;
		border-radius: 50%;
		border: 1px solid lightgray;
		
		@media (min-width: 600px) {
			width: 10vw;
			margin-left: auto;
			margin-right: auto;
		}

		@media (min-width: 1000px) {
			width: 6vw;
			max-width: 150px;
		}
	}

	h1, h3, h4, a, p {
		text-align: left;

		@media (min-width: 600px) {
			text-align: center;
		}
	}

	.brand {
		margin-bottom: var(--space-5);
	}

	.socials {
		margin-bottom: var(--space-5);

		@media (min-width: 600px) {
			flex-grow: 1;
		}
	}

	.contact {
		margin-bottom: var(--space-5);
		
		@media (min-width: 600px) {
			flex-grow: 0.5;
		}

		@media (min-width: 1000px) {

			flex-grow: 0.001;
		}
	}

	.policies {
		margin-bottom: var(--space-3);

		@media (min-width: 1000px) {
			margin-bottom: 0;
		}
	}

	.hyper-container {
		min-width: 100%;
	}

	.hidden {
		display: none;

		@media (min-width: 1000px) {
			display: flex;
		}
	}

	a {
		padding-bottom: var(--space-2);
	}

	a.legal {
		padding-bottom: 0;
	}

	.socials a, .contact a {
		@media (min-width: 600px) {
			text-align: start;
		}
	}
			
	.policies a {
		@media (min-width: 600px) {
			text-align: end;
		}
	}

	.container {
		@media (min-width: 1000px) {
			max-width: 100%;
			justify-content: space-between;
		}
	}

	h1, .brand p {
		@media (min-width: 1000px) {
			text-align: start;
		}
	}

	.brand p {
		@media (min-width: 1000px) {
			margin-left: 0;
		}
	}

	.policies a {
		@media (min-width: 1000px) {
			text-align: start;
		}
	}

	.copyright h4 {
		@media (min-width: 1000px) {
			text-align: start;
		}
	}
}

/*TYPOGRAPHY*/
footer-2 {

	a {
		line-height: var(--space);
	}
}

/*STYLE*/
footer-2 {
	background-color: var(--background-7);
	color: var(--background-16);

	a:hover {
		color: var(--bright);
	}
}



/*MODULE 9*/



/*MODULES*/
stat-highlight {

	@media (min-width: 800px) {
		container {
			display: flex;

			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		}

		.info {
			width: 50%;
		}
	}
}



/*STRUCTURE*/
stat-highlight {

	.info {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: var(--space-1);

		padding: var(--space-4);
		min-width: 400px;
	}

	a {
		margin-top: var(--space-3);
	}

	.calm-voice {
		@media (min-width: 800px) {
			max-width: 40ch;
		}
	}

	picture, img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	h1 {
		margin-top: var(--space-2);
	}
}


/*TYPOGRAPHY*/
stat-highlight {

}


/*STYLE*/
stat-highlight {

	background-color: var(--background-4);

	.info{
		background: var(--background-5)
	}

	a:hover {
		color: var(--vibrant);
	}

	.loud-voice, .clamp-voice-2 {
		color: var(--vibrant);
	}

	p, a {
		color: var(--background-4);
	}
}





/*MODULE 10*/



/*MODULES*/
footer-3 {

	.mega-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--space-5);
		padding: 0 0 var(--space-5) 0;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		@media (min-width: 1000px) {
			display: flex;
			flex-direction: row;
		}
	}

	.footer {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.container {
		@media (min-width: 600px) {
			display: flex;
			gap: var(--space-5);
		}
	}
}


/*STRUCTURE*/
footer-3 {

	.contact {
		margin-bottom: var(--space-4);

		@media (min-width: 600px) {
			flex-grow: 2;
			margin-bottom: 0;
		}
	}

	.legal {
		@media (min-width: 600px) {
			flex-grow: 1.5;
		}
	}

	.contact, .legal {
		display: flex;
		flex-direction: column;
		gap: var(--space-2);
	}

	select {
		width: 100%;
		text-align: start;
		padding: var(--space-1) var(--space-5) var(--space-1) var(--space-3);
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;

		@media (min-width: 800px) {
			width: 350px;
		}

		@media (min-width: 1000px) {
			width: 100%;
		}
	}

	.container {
		@media (min-width: 800px) {
			width: 70%;
		}

		@media (min-width: 1000px) {
			flex-grow: 1;
		}
	}

	.button {
		position: relative;
		display: inline-block;
	}

	.button svg {
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		fill: white;
		width: 25px;
	}

	.footer {
		@media (min-width: 1000px) {
			width: 100%;
		}
	}
}


/*TYPOGRAPHY*/
footer-3 {

	a {
		font-weight: 600;
	}
}


/*STYLE*/
footer-3 {
	background: var(--background-6);
	color: var(--background-4);

	a:hover {
		color: var(--bright);
	}

	select {
		background-color: var(--background-22);
		color: var(--background-4);
		border: 4px solid var(--soothing);
		border-radius: var(--radius-pill);
	}

	select:hover {
			border-color: var(--bright);
		}
}





/*MODULE 11*/



/*MODULES*/
tour-booking {
	
	inner-column {
		align-items: center;
	}

	a {
		display: block;
	}

	.book {
		@media (min-width: 800px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: var(--space-3);
			width: 100%;
		}
	}

	.book-2 {
		@media (min-width: 800px) {
			display: flex;
			align-items: center;
		}
	}
}



/*STRUCTURE*/
tour-booking {

	.wise-voice {
		padding: var(--space-2) 0 0 var(--space-1);
	}

	.loud-voice {
		padding: var(--space-0) 0;
	}

	p {
		padding: var(--space-1) 0 0 var(--space-1);
	}

	p + p {
		padding-top: var(--space-4);
	}

	.introductory-2 {
		margin-bottom: var(--space-8);
	}

	.introductory-3 {
		margin-bottom: var(--space-7);
	}

	h4, .introductory, .introductory-2, .introductory-3 {
		text-align: center;
		max-width: 80ch;
	}

	.calendar p {
		padding-top: 0;
	}

	.hidden {
		padding-top: 0;
	}

	.picture {
		display: none;

		@media (min-width: 800px) {
			display: block;
			width: 100%;
		}
	}

	.background {
		position: relative;
		width: 100%;
		height: 150px;

		@media (min-width: 800px) {
			display: none;
		}
	}

	.bottom-right {
		position: absolute;
		bottom: 30px;
		right: 5px;
	}

	.bottom-right-2 {
		position: absolute;
		bottom: 5px;
		right: 5px;
	}

	.background-2 {
		position: relative;
		width: 100%;
		height: 150px;

		@media (min-width: 800px) {
			display: none;
		}
	}

	.bottom-right-3 {
		position: absolute;
		bottom: 30px;
		right: 5px;
	}

	.bottom-right-4 {
		position: absolute;
		bottom: 5px;
		right: 5px;
	}

	.card {
		width: 250px;
		height: 100%;
		margin-bottom: var(--space-4);

		@media (min-width: 800px) {
			display: flex;
			width: 90%;
			max-width: 800px;
			padding: var(--space-2);
			gap: var(--space-3);
		}
	}

	.card:last-child {
		margin-bottom: 0;
	}

	a {
		text-align: center;

		@media (max-width: 800px) {
			margin-top: var(--space-1);
		}
		
		padding: var(--space-1) 0;

		@media (min-width: 800px) {
			display: inline-block;
			padding: var(--space-1) var(--space-2);
			flex-grow: 0.3;
		}
	}

	.extra-info {
		display: none;

		@media (min-width: 800px) {
			display: block;
		}
	}

	.hidden {
		display: none;

		@media (min-width: 800px) {
			display: block;
		}
	}

	.calendar picture {
		width: 20px;
		margin-left: var(--space-1);
	}

	.calendar {
		display: flex;
		align-items: center;
	}

	.calendar img {
		border: none;
	}

	.container-1 {
		@media (min-width: 800px) {
			min-width: 340px;
		}
	}

	.date-info {
		@media (max-width: 800px) {
			margin-top: var(--space-1);
			margin-bottom: var(--space-1);
		}
	}

	.duration-info {
		@media (max-width: 800px) {
			margin-bottom: var(--space-1);
		}
	}
}



/*TYPOGRAPHY*/
tour-booking {
	.loud-voice {
		text-align: center;
	}

	.bold {
		@media (min-width: 800px) {
			font-weight: 550;
		}
	}
}


/*STYLE*/
tour-booking {
	background-color: var(--background-4);
	color: var(--background-16);

	img {
		border: 1px solid lightgray;
	}

	.background {
		background-image: url(//peprojects.dev/images/square.jpg);
		background-size: cover; 
		background-position: center;
		background-repeat: no-repeat;
	}

	.bottom-right {
		color: var(--background-16);
	}

	.bottom-right-2 {
		color: var(--background-16);
	}

	.background-2 {
		background-image: url(//peprojects.dev/images/square.jpg);
		background-size: cover; 
		background-position: center;
		background-repeat: no-repeat;
	}

	.bottom-right-3 {
		color: var(--background-16);
	}

	.bottom-right-4 {
		color: var(--background-16);
	}

	.card {
		border: 1px solid lightgray;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}

	hr {
	  border: none;
	  height: 1px;
	  background-color: lightgray;
	}

	p, h5 {
		color: var(--background-16);
	}

	a {
		color: var(--background-4);
		background-color: var(--background-24);

		&:hover {
			background-color: var(--bright);
		}
	}
}




/*MODULE 12*/



/*MODULES*/
card-list {

	.container {
		display: flex;
		flex-direction: row;
		gap: var(--space-2);

		@media (max-width: 500px) {
			display: flex;
			flex-direction: column;
			gap: var(--space-2);
		}

		@media (min-width: 750px) {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
	}

	.mega-container {
		@media (min-width: 750px) {
			display: flex;
			gap: var(--space-4);
		}
	}
}


/*STRUCTURE*/
card-list {

	hr {
	  margin: var(--space-3) 0;          
	  width: 100%;
	  margin-left: auto;
	  margin-right: auto;
	}

	h4 {
		padding-bottom: var(--space-1);
	}

	.hidden {
		margin-top: var(--space-4);

		@media (min-width: 750px) {
			display: none;
		}
	}

	.hidden-2 {
		display: none;

		@media (min-width: 750px) {
			display: block;
			padding-top: var(--space-0);
		}
	}

	.hidden-5 {
		display: none;

		@media (min-width: 750px) {
			display: block;
		}
	}

	.hidden-3 {
		@media (min-width: 750px) {
			display: none;
		}
	}

	.hidden-4 {
		@media (min-width: 750px) {
			display: none;
		}
	}

	.link-top {
		@media (min-width: 750px) {
			display: flex;
			justify-content: space-between;
		}
	}
}


/*TYPOGRAPHY*/
card-list {
	.loud-voice {
		text-align: center;
		padding: var(--space-0) 0;
	}

	.attention-voice {
		padding-bottom: var(--space-2);
	}

	.subtle-voice {
		padding: var(--space-2) 0 0 var(--space-1);
	}
}


/*STYLE*/
card-list {
	background-color: var(--background-4);
	color: var(--background-16);

	hr {
	  border: none;   
	  border-top: 1px solid #ccc; 
	}

	a {
		color: var(--passionate);
		text-decoration: underline;
	}

	img {
		border: 1px solid lightgray;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}
}





/*MODULE 13*/



/*MODULE*/
footer-4 {
	
	.payment {
		display: flex;
		gap: var(--space-1);
	}

	.socials {
		display: flex;
		gap: var(--space-1);
	}

	.links {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: var(--space-1);
		margin-top: var(--space-2);
		margin-bottom: var(--space-4);
	}

	.links-2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--space-1);
		margin-bottom: var(--space-4);
	}
}


/*STRUCTURE*/
footer-4 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	.loud-voice {
		padding: var(--space-0) 0;
	}

	.attention-voice {
		padding-bottom: var(--space-2);
	}

	.subtle-voice {
		padding: var(--space-2) 0 0 var(--space-1);
	}

	.logo picture {
		width: 100px;

		@media (max-width: 950px) {
			margin-bottom: var(--space-3);
		}
	}

	.payment img {
		width: auto;
		height: 20px;
		object-fit: contain;
	}

	.socials img {
		height: 30px;
	}

	.links-2-a {
		display: flex;
		flex-dorection: row;
		gap: var(--space-1);
	}

	.last-hr {
		margin-top: var(--space-3);
	}

	.payment {
		margin-top: var(--space-3);
		margin-bottom: var(--space-3);
	}

	.socials {
		margin-bottom: var(--space-3);
	}

	.header-hr {
		display: none;
	}
}

/*TYPOGRAPHY*/
footer-4 {
	.loud-voice {
		text-align: center;
	}

	.links a {
		font-weight: 600;
	}

	.links-3 a {
		font-weight: 600;
	}
}


/*STYLE*/
footer-4 {
	background-color: var(--background-4);
	color: var(--background-16);
	
	hr {
		border-color: lightgray;
	}

	img {
		border-radius: 50%;
		border: 1px solid lightgray;
	}

	a:hover {
		color: var(--bright);
	}
}


@media (min-width: 750px) {

	/*MODULE*/
	footer-4 {
		.links-3 {
			display: flex;
			flex-direction: row;
			gap: var(--space-4);
		}

		.container {
			display: flex;
		
			flex-grow: 1;
		}

		.payment {
			flex-grow: 1;
		}

		.socials {
			align-items: flex-end;
			flex-grow: 0;
		}
	}

	/*STRUCTURE*/
	footer-4 {
		.links-3 hr {
			display: none;
		}

		.header-hr {
			display: block;
			width: 100%;
			margin-top: var(--space-3);
		}
	}	
}

@media (min-width: 950px) {

	/*MODULE*/
	footer-4 {
		.container-2 {
			display: flex;
			align-items: center;
			gap: var(--space-6);
			margin-bottom: var(--space-1);
		}

		.container-3 {
			display: flex;
			align-items: center;
			gap: var(--space-3);
		}
	}

	/*STRUCTURE*/
	footer-4 {
		.links-3 {
			flex-wrap: wrap;
		}

		.links {
			margin-bottom: 0;
		}

		.last-hr {
			margin-top: var(--space-1);
		}

		.header-hr {
			width: 100%;
			margin-top: var(--space-2);
		}

	}
}





/*MODULE 14*/




/*MODULES*/
footer-5 {

	.logo {
		display: flex;
		flex-direction: column;
		gap: var(--space-4);
	}

	.info {
		display: flex;
		justify-content: space-between;
		gap: var(--space-5);
		margin-bottom: var(--space-5);
	}

	.socials {
		display: flex;
		align-items: center;
		gap: var(--space-2);

		@media (max-width: 1200px) {
			margin-top: var(--space-3);
		}
	}
}


/*STRUCTURE*/
footer-5 {

	.loud-voice {
		padding: var(--space-0) 0;
	}

	.attention-voice {
		padding-bottom: var(--space-3);
	}

	.extra-wise-voice {
		padding-bottom: var(--space-4);

		@media(min-width: 1200px) {
			padding-bottom: var(--space-5);
		}
	}

	.logo picture {
		width: 70px;
	}

	a {
		margin-bottom: var(--space-4);
	}

	.button a {
		margin-bottom: var(--space-2);
	}

	a:last-child {

		@media(min-width: 1200px) {
			margin-bottom: 0;
		}
	}

	p {
		margin-top: var(--space-4);
	}

	.logo a {
		padding: var(--space-1) var(--space-2);
	}

	hr {
	  margin: var(--space-2) 0 var(--space-4) 0;
	  width: 100%;
	}

	hr:last-of-type {
		margin-top: 0;
		margin-bottom: 0;
	}

	.socials img, .socials-2 img {
		width: 30px;  
		object-fit: contain;
	}

	.button a {
		display: flex;
		align-items: center;
		gap: var(--space-0);
	}

	.button picture {
		display: inline;
		width: 15px;
		border: none;
	}

	.button svg {
		display: block;
		fill: currentColor;
		transition: transform 0.3s ease;
	}

	.button:hover svg {
		transform: scale(1.3);
	}

	.socials-2 {
		display: none;
	}
}


/*TYPOGRAPHY*/
footer-5 {

	a {
		line-height: 1.1;
	}

	.logo a {
		word-spacing: 0.1rem;
	}
}

/*STYLE*/
footer-5 {

	background-color:  var(--background-4);
	color: var(--background-16);

	.logo a {
		border: 1px solid black;
		border-radius: var(--radius-medium);
	}

	hr {
	  border: none;
	  border-top: 1px solid black;
	}

	img {
		border-radius: 50%;
		border: 1px solid lightgray;
	}

	a:hover {
		color: var(--bright);
	}

	.button a:hover {
		border: 1px solid var(--bright);
	}
}



@media (min-width: 600px) {

	/*MODULES*/
	footer-5 {
		.logo {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: var(--space-2);
		}
	}
	

	/*STRUCTURE*/
	footer-5 {

		.info-1 {
			flex-grow: 2;
		}

		.info-2 {
			flex-grow: 1.5;
		} 

		.logo .button  a {
			margin-bottom: 0;
		}
	} 

}

@media (min-width: 1200px) {

	/*MODULES*/
	footer-5 {
		.footer {
			display: flex;
			justify-content: flex-end;
		}

		.container {
			display: flex;
			gap: var(--space-5);
		}
	}

	/*STRUCTURE*/
	footer-5 {
		.socials {
			display: none;
		}

		.socials-2 {
			display: flex;
			gap: var(--space-2);
		}

		.info {
			width: auto;
			flex-grow: 1;
		}

		.info-1 {
			flex-grow: 1;
		}

		.info-2 {
			flex-grow: 2;
		}

		.legal {
			flex-grow: 3;
		}
	}
}





/*MODULE 15*/



/*MODULE*/

featured-content {	

	.container-2 {
		display: flex; 
		flex-direction: column;
		flex-grow: 1;
	 }

	.container {
		display: flex;
		flex-direction: column;
		flex-grow: 0;
	 }
}

/*STRUCTURE*/
featured-content {
	
	loud-voice {
		padding: var(--space-0) 0;
	}

	.attention-voice {
		padding: var(--space-3) 0;
	}

	.subtle-voice {
		margin-top: var(--space-2);
		margin-bottom: var(--space-2);
	}

	.container-2 .subtle-voice {
		padding-top: var(--space-2);
	}

	.card-1 {
		margin: 0 0 var(--space-2) 0;
	}

	.card-2 {
		margin-bottom: var(--space-2);
	}

	.info-3, .info-4 {
		margin: 0 var(--space-2) var(--space-3) var(--space-2);
	}

	.info-1, .info-2 {
		padding: var(--space-2);
	}

	.info-3, .info-4 {
		padding: var(--space-3) var(--space-4) var(--space-3) var(--space-2);
	}

	.info-1 .button, .info-3 .button, .info-4 .button {
		display: inline-block;
		padding: var(--space-1) var(--space-2);
	}

	.info-2 .button {
		display: inline-block;
		padding: var(--space-1) var(--space-2);
	}

	.card-1, .card-2 {
	 	flex-grow: 1;
	 }

	 .info-3, .info-4 {
	 	flex-grow: 0;
	 }

	 img {
		min-height: 60vw;
		object-fit: cover;
	}
}


/*TYPOGRAPHY*/
featured-content {
	.loud-voice {
		font-weight: 500;
		text-align: center;
		padding: var(--space-0) 0;
	}

	.attention-voice {
		padding: var(--space-2) 0;
	}

	.subtle-voice {
		margin-bottom: var(--space-2);
	}

	p {
		margin-bottom: var(--space-3);
	}
}

/*STYLE*/

featured-content {

	background-color: var(--background-4);

	.info-2 .subtle-voice {
		color: black;
	}

	.info-1 .button {
		color: var(--background-4);
		background-color: black;
		border-radius: var(--radius-pill);

		&:hover {
			color: var(--bright);
		}
	}

	.info-2 .button {
		color: var(--background-4);
		background-color: black;
		border-radius: var(--radius-pill);

		&:hover {
			color: var(--vibrant);
		}
	}

	.info-3 .button {
		color: var(--background-4);
		background-color: black;
		border-radius: var(--radius-pill);

		&:hover {
			color: var(--bright);
		}
	}

	.info-4 .button {
		color: var(--background-4);
		background-color: black;
		border-radius: var(--radius-pill);

		&:hover {
			color: var(--bright);
		}
	}

	a > h3:hover {
		text-decoration: underline;
	}

	.card-1 {
		background-color: var(--background-9);
		color: var(--background-4);

		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}

	.card-2 {
		background-color: var(--background-10);
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}

	.info-3 {
		background-color: var(--background-11);
		color: var(--background-4);

		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}

	.info-4 {
		background-color: var(--background-12);
		color: var(--background-4);

		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}

	.info-1 .button, .info-3 .button, .info-4 .button {
		color: black;
		background-color: var(--background-4);
		border-radius: var(--radius-pill);
	}

	.info-2 .subtle-voice, .info-2 .calm-voice {
		color: var(--background-16);
	}

	.info-2 .button {
		background-color: var(--background-16);
	}

}

@media (min-width: 600px) {

	/*MODULE*/
	featured-content {
		.container {
			display: flex;
			flex-direction: row;
			gap: var(--space-4);
			width: 85%;
			margin-left: auto;
			margin-right: auto;
		}

		.container-2 {
			display: flex;
			flex-direction: column;
			width: 85%;
			margin-left: auto;
			margin-right: auto;
		}

		.card-1, .card-2 {
			display: flex; 
			flex-direction: column;
		}
	}

	/*STRUCTURE*/
	featured-content {
		
		min-height: 100%; 

		.info-3, .info-4 {
			margin: 0;
		}

		img {
			min-height: 30vw;
			object-fit: cover;
		} 
	}
}

@media (min-width: 800px) {

	/*STRUCTURE*/
	featured-content {
		.card-1, .card-2 {
			margin-bottom: var(--space-5);
		}

		img {
			min-height: 10vw;
			object-fit: cover;
		} 
	}
}

@media (min-width: 1200px) {

	/*MODULE*/
	featured-content {
		.card-1 {
			display: flex;
			flex-direction: row;
		}

		.card-2 {
			display: flex;
			flex-direction: row-reverse;
		}
	}

	/*STRUCTURE*/
	featured-content {
		.card-1 .picture, .card-2 .picture {
        width: 65%;
    }

    .info-1, .info-2 {
        width: 35%; 
    }

    picture {
    	max-height: 500px;
    	overflow: hidden;
    }

    img {
			height: 100%;
			object-fit: cover;
		}
	}
}

@media (min-width: 1400px) {

	/*STRUCTURE*/
	featured-content {
		
		.container {
			width: 100%;
		}

		.container-2 {
			width: 100%;
		}

		img {
			height: 100%;
			object-fit: cover;
		}
	}
}





/*MODULE 16*/



/*MODULES*/
footer-6 {

	@media (min-width: 1000px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		inner-column {
			flex-direction: row;
		}
	}

	.social {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: var(--space-1);
		margin-bottom: var(--space-3);
	}

	.input {
		display: flex;
		flex-direction: column;
		gap: var(--space-2);
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: var(--space-2);
	}

	.mega-container-1 {
		text-align: center;

		@media (min-width: 600px) {
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			gap: var(--space-3);
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.mega-container-2 {
		text-align: center;
	}
}


/*STRUCTURE*/
footer-6 {
	.left {
		@media (min-width: 600px) {
			text-align: left;
		}
	}

	.right {
		@media (min-width: 600px) {
			text-align: right;
		}

		@media (min-width: 1000px) {
			text-align: left;
		}
	}

	.social-heading {
		margin-top: var(--space-2);
		margin-bottom: var(--space-1);
	}

	.attention-voice {
		padding: var(--space-3) 0 var(--space-1) 0;

		@media (min-width: 1000px) {
			padding-top: 0;
		}
	}

	.subtle-voice {
		padding-bottom: var(--space-3);
	}

	.miniscule-voice {
		padding-bottom: var(--space-1);
	}

	p + a {
		margin-bottom: var(--space-0);
	}

	img {
		width: 40px;
	}

	.info a {
		padding-bottom: var(--space-2);
	}

	hr {
		margin-bottom: var(--space-4);
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	p {
		padding-bottom: var(--space-1);
	}

	p:last-of-type {
		padding-bottom: 0;
	}

	.input-1 {
		padding: var(--space-1);
	}

	.input-2 {
		padding: var(--space-1);
	}

	.hidden {
		@media (min-width: 1000px) {
			display: none;
		}
	}

	.mega-container-2 {
		@media (min-width: 1000px) {
			flex-grow: 1;
		}
	}

	.mega-container-2 hr {
		@media (min-width: 1000px) {
			width: 100%;
		}
	}

	.input {
		@media (min-width: 1000px) {
			width: 100%;
		}
	}

	.button {
		position: relative;
	}

	.button svg {
		width: 30px;
		position: absolute;
		top: 50%;
		tranform: translateY(-50%);
	}
}

/*STYLE*/
footer-6 {
	background-color: var(--background-4);

	.attention-voice {
		color: var(--background-25);
	}

	.subtle-voice {
		color: var(--background-25);
	}

	.miniscule-voice {
		color: var(--sea);
	}

	p + a {
		color: var(--background-26);
	}

	p + a:hover {
		text-decoration: underline;
	}

	.info a {
		color: var(--background-28);
	}

	.info a:hover {
		color: var(--bright);
	}

	p {
		color: var(--background-28);
	}

	.mega-container-2 p:nth-of-type(2) {
		color: var(--background-25);
	}

	.mega-container-2 p:nth-of-type(3) {
		color: var(--background-25);
	}

	.input-1 {
		border: 0;
	}

	::placeholder {
	  color: var(--background-27);
	}

	.input-2 {
		background-color: var(--background-24);
		color: white;
		cursor: pointer;

		&:hover {
			background-color: var(--bright);
		}
	}

	img {
		border-radius: 50%;
		border: 1px solid lightgray;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}
}






/*MODULE 17*/



/*MODULES*/
article-showcase {

	.info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--space-2);
		margin-bottom: var(--space-6);
	}
}


/*STRUCTURE*/
article-showcase {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	.loud-voice {
		padding: var(--space-0) 0;
	}

	.subtle-voice {
		margin: var(--space-2) 0 var(--space-1) 0;
	}

	.container a:nth-of-type(2) {
		display: none;
	}

	.container a:nth-of-type(3) {
		display: none;
	}

	.info {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.container {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.background {
		position: relative;
		width: 100%;
		height: 42vw;
		max-height: 300px;
	}

	.background-2 {
		width: 100%;

		height: 42vw;
		max-height: 300px;
	}

	.background-3 {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: 42vw;
		max-height: 300px;
	}

	.background div {
		position: absolute;
		top: 0;
		right: 0;

		padding: var(--space-1);
	}

	.info a {
		display: inline-block;
		padding: var(--space-1) var(--space-2);
	}

	.container p, .container h3 {
		width: 90%;
	}
}

/*TYPOGRAPHY*/
article-showcase {
	.loud-voice {
		text-align: center;
	}

	.calm-voice {
		max-width: 35ch;
	}

	.info .calm-voice {
		max-width: 50ch;
	}

	.info p, .info a, .info h1 {
		text-align: center;
	}
}

/*STYLE*/
article-showcase {

	background-color: var(--background-4);
	color: var(--background-16);

	.background {
		background-image: url(//peprojects.dev/images/landscape.jpg);
		background-size: cover;
	   background-position: center;
	   border: 1px solid lightgray;
	   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	   max-height: 200px;
	   max-width: 350px;
	}

	.background-2 {
		background-image: url(//peprojects.dev/images/landscape.jpg);
		background-size: cover;
	   background-position: center;
	   border: 1px solid lightgray;
	   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	   max-height: 200px;
	   max-width: 350px;
	}

	.background-3 {
		background-image: url(//peprojects.dev/images/landscape.jpg);
		background-size: cover;
	   background-position: center;
	   border: 1px solid lightgray;
	   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	   max-height: 200px;
	   max-width: 350px;
	}

	.background div {
		background-color: white;
	}

	.info a {
		background-color: var(--background-24);
		color: var(--background-4);

		&:hover {
			background-color: var(--bright);
		}
	}

	hr {
	  width: 17%;               
	  border: none;              
	  border-top: 1px solid #ccc; 
	  margin: var(--space-2) auto;          
	}

	h3 {
		color: var(--coffee);
	}

	.info p {
		color: #676767;
	}

	.container p {
		color: #333333;
	}
}


@media (min-width: 700px) {

	/*MODULES*/
	article-showcase {
		.container {
			display: flex;
			justify-content: space-between;
			gap: var(--space-4);
		}
	}

	/*STRUCTURE*/
	article-showcase {
		.container a:nth-of-type(2) {
			display: block;
		}

		.background-2 div {
			position: absolute;
			top: 0;
			right: 0;
			background-color: white;
			padding: var(--space-1);
		}
	}
}

@media (min-width: 900px) {
	/*STRUCTURE*/
	article-showcase {
		.container a:nth-of-type(3) {
			display: block;
		}

		.background-3 {
			position: relative;
			max-width: 400px;
		}

		.background-2 {
			max-width: 400px;
		}

		.background {
			max-width: 400px;
		}

		.background-3 div {
			position: absolute;
			top: 0;
			right: 0;
			background-color: white;
			padding: var(--space-1);
		}
	}
}






/*MODULE 18*/



/*MODULES*/
header-2 {
	
	inner-column {
	   gap: var(--space-0);
	}

	.container {
		display: flex;
		justify-content: space-between;
	}

	.container-2 {
		display: flex;
		gap: var(--space-1);
	}

	.icons {
		display: flex;
		gap: var(--space-3);
	}

	.container > div {
		display: flex;
		align-items: center;
	}

	.search-2 {
		display: flex;
		flex-grow: 1;
		position: relative;
	}

	.search {
		display: flex;
		position: relative;
		flex-grow: 1;
	}
}


/*STRUCTURE*/
header-2 {

	.loud-voice {
		padding: var(--space-0) 0;
	}

	.attention-voice {
		padding: var(--space-3) 0 var(--space-1) 0;
	}

	.subtle-voice {
		padding: var(--space-1) 0;
	}

	img {
		width: 30px;
	}

	.logo {
		width: 70px;
		padding: 0 var(--space-1) var(--space-1) var(--space-1);
		padding-left: 0;
		margin-left: 0;
	}

	.hidden {
		display: none;
	}

	.hidden-2 {
		display: none;
	}

	.container-2 input {
		flex-grow: 1; 
	}

	.search-2 input {
		height: 32px;
	}

	.search button {
		display: none;
	}

	input::placeholder {
		padding-left: var(--space-1);
	}

	.search button, .search-2 button {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 31px;
		height: 32px;
		border-radius: 0 var(--radius-medium) var(--radius-medium) 0;
		border: 1px solid darkgray;
		border-left: none;
		background-color: white;
		color: darkgray;
		cursor: pointer;
		transition: transform 0.3s ease;

		&:hover {
			background: var(--vibrant);
			color: white;
		}
	}

	.search button {
		@media(max-width: 1100px) {
			display: none;
		}
	}

	.search svg, .search-2 svg {
		width: 30px;
		fill: currentColor;

		&:active {
			transform: scale(1.2);
		}
	}
}

/*TYPOGRAPHY*/
header-2 {
	.loud-voice {
		text-align: center;
	}
}

/*STYLE*/
header-2 {
	background-color: var(--background-4);
	color: var(--background-16);

	.subtle-voice {
		color: var(--background-29);
	}

	input {
		border-radius: var(--radius-medium);
		padding-left: var(--space-2);
		border: 1px solid darkgray;
	}

	a {
		border-radius: var(--radius-small);

		&:hover {
			color: var(--bright);
		}
	}

	.e-shop img {
		border-radius: var(--radius-small);
	}

	.icons img {
		border-radius: 50%;
	}
}

@media (min-width: 900px) {
	/*MODULES*/
	header-2 {
		.icons div {
			display: flex;
			align-items: center;
			gap: var(--space-1);
		}
	}

	/*STRUCTURE*/
	header-2 {
		.hidden-2 {
			display: flex;
		}
	}
}

@media (min-width: 1100px) {
	/*MODULES*/
	header-2 {
		.links {
			display: flex;
			align-items: center;
			gap: var(--space-2);
		}

		.container-2 {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.container > div {
			display: flex;
			gap: var(--space-4);
			align-items: center;
		}

		.e-shop div {
			display: flex;
			align-items: center;
			gap: var(--space-1);
		}
	}

	/*STRUCTURE*/
	header-2 {
		.hidden {
			display: flex;
			gap: var(--space-2);
		}

		.hidden-3 {
			display: none;
		}

		.container input {
			flex-grow: 1;
			height: var(--space-4);
		}

		.container > div:first-child {
			flex-grow: 1;
		}

		.container {
			gap: var(--space-5);
		}

		.search button {
			display: flex;
		}

		.search-2 button {
			display: none;
		}

		.e-shop a {
			padding-left: 0;
		}
	}
}