inner-column {
	display: flex;
	flex-direction: column;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.field {
	display: flex;
	flex-direction: column;
}

form {
	max-width: 300px;
	background-color: lightgray;
	padding: 1em;
	border: 2px solid black;
	border-radius: 10px;
}

button[type='submit'] {
	margin-top: 20px;
}

label {
	opacity: 0.5;
	margin: 0;
	font-size: 14p;
	padding-bottom: 5px;
}

h3 {
	color: brown;
}

.field + .field {
	margin-top: 1.1em;
}

partials {
	display: block;

	@media(min-width: 600px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1em;
		row-gap: 2em;
	}

	@media(min-width: 750px) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	@media(min-width: 900px) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

