inner-column {
	display: flex;
	flex-direction: column;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.field {
	display: flex;
	flex-direction: column;
}

header {
	@media(min-width: 900px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

footer {
	@media(min-width: 900px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

header a {
	margin-bottom: 1em;
	color: brown;
}

footer a {
	margin-top: 2em;
	color: brown;
}

form {
	max-width: 300px;
	background: linear-gradient(150deg, lightgray, #F2F0EF);
	padding: 1em;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button[type='submit'] {
	margin-top: 20px;
	border-radius: 15px;
	border: 1px solid black;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 3px 7px;
	cursor: pointer;
}

input {
	border-radius: 13px;
	border: 1px solid gray;
	padding: 0.3em 0.4em;
	font-size: 1rem;
}

label {
	opacity: 0.5;
	margin: 0;
	font-size: 13px;
	padding-bottom: 0.1em;
	font-family: 'Monda', sans-serif;
}

h3 {
	color: brown;
}

.field + .field {
	margin-top: 1.1em;
}

partials {
	display: grid;
	gap: 2em;

	@media(min-width: 600px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1em;
		row-gap: 2em;
	}

	@media(min-width: 750px) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	@media(min-width: 900px) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

.mini {
	font-size: 13px;
}

p, a {
	font-family: 'Monda', sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4 {
	font-family: 'Julius Sans One', sans-serif;
}

span {
	color: green;
}

.subfield {
	display: flex;
	align-items: center;
}
