@import '../css/meyer-reset.css';
@import '../css/setup.css';

/*MODULES*/
.social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 1.5em;
}

.input {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.inner-column {
	@media (min-width: 1000px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 95%;
	}
}

.mega-container-1 {
	@media (min-width: 600px) {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}

/*STRUCTURE*/
.left {
	@media (min-width: 600px) {
		text-align: left;
	}
}

.right {
	@media (min-width: 600px) {
		text-align: right;
	}

	@media (min-width: 1000px) {
		text-align: left;
	}
}

body {
	height: 100vh;
}

.attention-voice {
	padding: 1.5em 0 0.5em 0;

	@media (min-width: 1000px) {
		padding-top: 0;
	}
}

.subtle-voice {
	padding-bottom: 0.7em;
}

.miniscule-voice {
	padding-bottom: 0.5em;
}

p + a {
	margin-bottom: 0.3em;
}

img {
	width: 40px;
}

.inner-column {
	width: 90%;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 40px 0;
}

.info {
	margin-bottom: 2em;
}

.info a {
	padding-bottom: 0.3em;
}

hr {
	margin-bottom: 2em;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

p {
	padding-bottom: 0.5em;
}

.input-1 {
	padding: 10px;
}

.input-2 {
	padding: 10px;
}

.hidden {
	@media (min-width: 1000px) {
		display: none;
	}
}

.mega-container-2 {
	@media (min-width: 1000px) {
		flex-grow: 1;
	}
}

.mega-container-2 hr {
	@media (min-width: 1000px) {
		width: 100%;
	}
}

.input {
	@media (min-width: 1000px) {
		width: 100%;
	}
}

/*TYPOGRAPHY*/
.loud-voice {
	font-family: sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
}

.attention-voice {
	font-family: sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
}

.subtle-voice {
	font-family: sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
}

.miniscule-voice {
	font-size: 14px;
}

.mega-container-2 p:nth-of-type(2) {
	font-size: 20px;
}

.mega-container-2 p:nth-of-type(3) {
	font-size: 30px;
}

.input-2 {
	font-size: 17px;
}

/*STYLE*/
section {
	background-color: #e6e6e6;
}

.attention-voice {
	color: #606060;
}

.subtle-voice {
	color: #606060;
}

.miniscule-voice {
	color: #5ca2dc;
}

p + a {
	color: #5ca2dc;
}

p + a:hover {
	text-decoration: underline;
}

.info a {
	color: #88898c;
}

.info a:hover {
	color: #afb0b2;
}

p {
	color: #88898c;
}

.mega-container-2 p:nth-of-type(2) {
	color: #606060;
}

.mega-container-2 p:nth-of-type(3) {
	color: #606060;
}

.input-1 {
	border: 0;
}

::placeholder {
  color: #afb0b2;
}

.input-2 {
	background-color: #2a64ae;
	color: white;
}