footer {

	.mega-container {
		display: flex;
		flex-direction: column;
		gap: 40px;
		padding: 40px 0 50px 0;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		@media (min-width: 700px) {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}
	}

	.footer {

		display: flex;
		flex-direction: column;
	}

	.container {

		@media (min-width: 500px) {
			display: flex;
			gap: 40px;
		}
	}

	.button {

		@media (min-width: 700px) {
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
		}
	}
}


/*STRUCTURE*/
footer {

	display: block;
	padding: 0 15px;
	width: 100vw;
	
	.mini-voice {
		padding: 0 0 50px 0;
	}

	.contact {

		margin-bottom: 30px;

		@media (min-width: 500px) {
			flex-grow: 2;
			margin-bottom: 0;
		}
	}

	.legal {

		@media (min-width: 500px) {
			flex-grow: 1.5;
		}
	}

	.legal, .contact {

		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	button {

		width: 100%;
		text-align: start;
		padding: 10px 15px 10px 15px;

		@media (min-width: 700px) {
			width: 70%;
			text-align: center;
		}
	}

	.container {

		@media (min-width: 700px) {
			flex-grow: 1;
		}
	}

	.button {

		@media (min-width: 700px) {
			flex-grow: 1;
		}
	}

	.socials {
		display: flex;
		gap: 1em;

		@media (min-width: 700px) {
			justify-content: flex-end;
		}
	}

	.socials img {

		width: 30px;
	}

	socials {

		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.get-in-line img {

		width: 29px;
	}
}

/*STYLE*/
footer {

	background-color: hsl(220 28% 93.8%);
	color: black;

	button {

		background-color: hsl(220 28% 74.2%);
		color: black;
		border: 1px solid hsl(220 28% 48.6%);
		border-radius: 30px;
	}
}