logo {

	display: block;
	padding: 2em 15px 0 15px;
	background-color: hsl(220 28% 93.8%);

	.container {
		display: flex;
		flex-direction: column;
		gap: 1.5em;

		padding-bottom: 2em;

		@media (min-width: 450px) {
			flex-direction: row;
			align-items: center;
			gap: 3.5em;
		}
	}

	picture {

		max-width: 150px;
	}

	img {

		max-width: 150px;
	}

	a:hover {
		background-color: transparent;
	}
}