@import url("../super-layout-challenge-1/css/meyer-reset.css");
@import url("../super-layout-challenge-1/css/setup.css");
@import url("typography.css");
@import url("home.css");
@import url("footer.css");
@import url("form.css");
@import url("details.css");
@import url("list.css");
@import url("logo.css");
@import url("site-menu.css");

inner-column {

	display: flex; 
   flex-direction: column;
	max-width: 1600px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

button:hover {
	background-color: hsl(220 28% 90%);
}

button[type='submit']:hover {
	background-color: hsl(220 28% 90%);
}

a:hover {
	background-color: hsl(220 28% 90%);
}

a {
	padding: 2px;
}