@import '../css/meyer-reset.css';
@import '../css/setup.css';

/*MODULES*/
.inner-column {
	@media (min-width: 900px) {
		display: flex;
	}
}

.inner-column div:nth-of-type(2) {
	@media (min-width: 900px) {
		flex-shrink: 0;
	}
}

.info {
	@media (min-width: 900px) {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}

/*STRUCTURE*/
body {
	height: 100vh;
}

.loud-voice {
	padding: 0.7em 0 0.7em 0;
}

a {
	padding: 2em 0 2em 0;
}

.loud-voice, .calm-voice, a {
	margin: 0 60px;

	@media (min-width: 900px) {
		margin: 0 90px;
	}
}

.calm-voice {
	@media (min-width: 900px) {
		min-width: 30ch;
	}
}

/*TYPOGRAPHY*/
.loud-voice {
	font-family: sans-serif;
	font-size: 5vw;
	font-weight: 700;
}

.attention-voice {
	font-family: sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
}

.calm-voice {
	font-family: serif;
	font-size: 1rem;
	line-height: 1.6;
}

a {
	font-size: 1.2rem;
}

/*STYLE*/
a:hover {
	color: gray;
}