
graphic-diptych {
  display: block;
  padding-top: 4vh;
  padding-bottom: 4vh;
  /* */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

graphic-diptych text-content {
  display: block;
}

@media (max-width: 1099px) {
  graphic-diptych picture {
    max-width: 900px;
  }
}

@media (min-width: 1100px) {
  graphic-diptych {
    flex-direction: row;
    align-items: center;
  }

  graphic-diptych :is(picture, text-content) {
    width: 50%;
  }

  graphic-diptych picture {
    order: 2;
    /* OR you could use flex-direction row-reverse */
    /* it depends on the situation */
    min-width: 500px;
  }

  graphic-diptych img {
    order: 2;
    /* OR you could use flex-direction row-reverse */
    /* it depends on the situation */
    height: 450px;
    object-fit: cover;
  }
}
