mast-head {
  display: block;
}

mast-head nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;

  @media(min-width: 361px) {
    gap: 1.5em;
  }
}

mast-head .logo {

}

.header-menu {
  @media (max-width: 850px) {
    display: flex;
    justify-content: space-between;
  }
}

mast-head a {
  font-family: sans-serif;
  font-size: 1rem;
}

@media (min-width: 850px) {
  mast-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

mast-head a:nth-of-type(2) {
  @media (min-width: 393px) {
    margin-left: 1em;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.user span {
  font-size: 0.9rem;
}

.user svg {
  width: 20px;
  fill: currentColor;
}

mast-head svg {
  margin: 0;
}

.logo-company h3 {
  color: var(--logo);
}

.wide {
  @media(max-width: 850px) {
    display: none;
  }
}

.hamburger {
  @media (min-width: 850px) {
    display: none;
  }
}

.user:hover {
  color: var(--hover-user);
}
