@import '../../../css/meyer-reset.css';
@import '../../../css/setup.css';

body {
	padding: 1em;

   background-color: #f9f1de;
}

.loud-voice {
	font-size: 2rem;

	margin-bottom: 0.5em;
}

.field {
	margin-bottom: 0.5em;
}

.field input {
	border: 2px solid black;
}

label {
	margin-right: 0.1em;
}

#submit {
	margin-bottom: 2em;
}

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.2em;
}

.todo-container {
	border: 2px solid black;
	padding: 10px;
	padding-top: 40px;
	min-width: 200px;

	position: relative;

	background-color: #ce706e;
}

.complete {
	width: 22px;
	height: 22px;
}

.status {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	padding-right: 5px;

	position: absolute;
	top: -11px;
	left: -10px;
	transform: rotate(-9deg);

	background-color: #f7e5a2;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2); 
}

.task {
	margin-bottom: 0.5em;
}

label, input, button, p, span {
	font-family: "Playfair Display", serif;
	font-size: 1rem;
}

input {
	padding: 0.2em 0.5em;
}

button {
	padding: 0.3em 1em;

	background-color: #f5f5f5;

	&:hover {
		background-color: lightgray;
	}
}