@import '../../../css/meyer-reset.css';
@import '../../../css/setup.css';

body {
	padding: 1em;
   background-color: #f9f1de;

   --border-thick: 2px;
   --border-thin: 1px;
   --todo-red: hsl(1, 49%, 62%);
   --todo-yellow: hsl(47, 84%, 80%);
   --todo-green: hsl(119, 33%, 74%);
   --todo-blue: hsl(205, 48%, 77%);
   --todo-pink: hsl(321, 48%, 81%);
   --todo-orange: hsl(30, 81%, 73%);
}

.loud-voice {
	font-size: 2rem;
	margin: 1em 0 0.5em 0;
}

.field {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5em;
}

.field input {
	max-width: 300px;
	margin-top: 0.3em;
	border: 2px solid black;
}

output {
	display: block;
	margin-top: 2em;
}

label {
	margin-right: 0.1em;
}

#submit {
	margin-bottom: 2em;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	column-gap: 1em;
	row-gap: 1.5em;
}

.todo-container {
	border: var(--border-thick) solid black;
	padding: 10px;
	padding-top: 40px;

	position: relative;

	/*background-color: #ce706e;*/
}

.complete {
	width: 22px;
	height: 22px;
}

.status {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	padding-right: 5px;

	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-9deg) translate(-10px, -11px);

	/*background-color: #f7e5a2;*/
	border: var(--border-thin) solid black;
	border-radius: var(--border-thick);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2); 
}

.task {
	margin-bottom: 0.5em;
}

label, input, button, p, span {
	font-family: "Playfair Display", serif;
	font-size: 1rem;
}

input {
	padding: 0.2em 0.5em;
}

button {
	padding: 0.3em 1em;

	background-color: #f5f5f5;

	&:hover {
		background-color: lightgray;
	}
}

.date {
	display: flex;
	position: absolute;
	right: 0;
	top: 0;

	padding: 0.3em;
}

.done {
	
}