@import url("../super-layout-challenge-1/css/meyer-reset.css");
@import url("../super-layout-challenge-1/css/setup.css");

body {
	height: 100vh;
 	background-image: url("images/cars3.png");
 	background-repeat: repeat-y;
 	background-size: cover;
 	color: white;

 	@media (min-width: 400px) {
 		margin: 6em 0 0 7em;
 	}
}

ul, li {
	list-style-type: disc;
}

.attention-voice, .loud-voice, .subtle-voice {
	font-family: 'Prata', serif;
	font-size: 48px;
}

.calm-voice, a, li {
	font-family: 'Lato', sans-serif;
	font-size: 25px;
}

a {
	text-decoration: underline;
}

list-manager {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/**background-color: hsl(0, 0%, 100%, 0.25);**/
} 

ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2em;
}

a + ul {
	margin-top: 2em;
}

h1 {
	margin-bottom: 0.5em;
}

a {
	display: inline-block;
}

p + a {
	margin-top: 0.2em;
}

a:hover {
	background-color: hsl(0, 0%, 100%, 0.25);
}

.field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1em;
}

.redirection {
	margin-top: 1em;
}
